[2015-06-19 10:52] carlalexander opened #1 "Support SSL"
The initial work to support SSL connections is there (nginx proxy vhost). Dynamically creating the vhost is more work than it should be. Will work to see how to do this better with `debops.nginx`.

[2015-06-19 10:52] carlalexander opened #2 "Support Bedrock"
Supporting bedrock should just be a question of adding additional roles and creating a `bedrock.yml` playbook.

[2015-06-19 16:43] carlalexander opened #3 "Support multisite"
Supporting multisite will probably be a bit more challenging. Will have to test the interaction with the varnish proxy host and other factors.

[2015-06-23 11:17] carlalexander opened #4 "Add OSSEC role"
This is the last hardening step missing based on what's on [the codex](http://codex.wordpress.org/Hardening_WordPress)

[2015-06-25 20:54] drybjed commented on #3
I thought about WP multisite a bit but after [reading articles against it](https://www.ostraining.com/blog/general/multisites-bad-idea/) I would try to create a role where you can define unix user accounts and create multiple wordpress installations at once. That would probably require defining nginx servers in a separate list as well, but it's still easier than configuring them from scratch.

Alt

[2015-06-25 21:02] carlalexander commented on #3
I think, in the long run, you should have both the ability to install multiple sites like `nginx servers` in `debops.nginx`. I think some people might want that as well. I have mixed feelings about it, but as long as it's handled like you described, it's safe.

As for Multisite, it's safe. I don't agree with that article at all. The entire wordpress.com is just one giant multisite installation. It

[2015-06-25 21:13] drybjed commented on #3
Yeah, I suppose Multisite has a reason to exists if you specifically want a "network". In that case probably creating separate `wordpress_mu` role would work, depending on how many differences there would be from regular setup.

Creating roles that allow for multiple instances of a webapplication with `debops.nginx`, `debops.php5`, and similar roles is currently problematic, because these roles ar

[2015-06-25 21:17] carlalexander commented on #3
Right, that's why I mentioned in the long run! :wink:

I might do a separate `wordpress_mu` role, but I'll have to look into it more. WP-CLI makes it easy to pick between the two so that part is easy. The issue is more with what needs to change with the rest of the stack. That'll require some testing on my part.

[2015-06-28 11:58] carlalexander opened #5 "Add cookbooks"
It'd be good to add some cookbooks for some known situations:

- [ ] Overriding the default WordPress configuration
- [ ] Creating another sudoer user and locking down root
- [ ] Creating an FTP user
- [ ] Migrating an existing site

[2015-06-30 18:27] storm2k commented on #2
Given that Bedrock already has its own well established project to do everything you're doing here (Trellis), this is most unnecessary.

[2015-06-30 18:37] carlalexander commented on #2
This issue is more for myself! :smile:

I want to have a bedrock compatible setup for upcoming projects. bedrock-ansible has no plans to support DebOps (since they're MIT) and they're building out all the roles themselves.

They also don't support Varnish and they opted for memcached instead of Redis.

[2015-07-01 08:38] jpurpleman opened #6 "installing ansible"
on the page https://github.com/carlalexander/debops-wordpress/wiki/Installation

in the installing ansible section I had to add these extra packages before the install of ansible truly completed successfully.

On Ubuntu 14.04.02 LTS

apt-get install python-dev
pip install pycrypto

[2015-07-01 08:41] jpurpleman opened #7 "before running debops-update"
To run this command

debops-update

you have to run this command first

apt-get install git

[2015-07-01 09:18] jpurpleman opened #8 "roles/hhvm/defaults/main.yml missing / ?"
the line ~ 28 =   'repo.central.path': 'var/run/hhvm/hhvm.hhbc'

I could be wrong but you might be missing a leading / on var.

[2015-07-01 10:55] carlalexander commented on #6
Fixed! Thanks @jpurpleman!

[2015-07-01 10:55] #6 closed

[2015-07-01 10:56] carlalexander commented on #7
Good catch, someone mentioned this on AWP and I forgot.

[2015-07-01 10:56] #7 closed

[2015-07-01 10:57] carlalexander commented on #8
I think you might be right. I'll fix it locally and test it first.

[2015-07-01 12:09] carlalexander opened #9 "Replace mariadb role with debops.mariadb"
Now that DebOps supports Mariadb, there's no need for this project to have its own role.

[2015-07-01 12:32] drybjed commented on #9
Actually, you want to use the `debops.mariadb` role as a dependency. Then, you can configure `debops.mariadb_server` either on local or remote host, and point WordPress to it using `debops.mariadb` local facts. There are [examples](http://docs.debops.org/en/latest/ansible/roles/ansible-mariadb/docs/getting-started.html#local-ansible-facts-custom-tasks) in the documentation.

[2015-07-01 12:37] carlalexander commented on #9
Oh ok! I'll make sure to look over all of that! I'll change the title to reflect it.

[2015-07-02 09:24] tobeycodes commented on #1
@carlalexander have you considered putting Pound in front on Varnish?

[2015-07-02 12:01] schrapel opened #10 "WooCommerce Support"
I think it would make sense to support WooCommerce out of the box

http://docs.woothemes.com/document/configuring-caching-plugins/

[2015-07-02 14:50] carlalexander commented on #1
No, I had not! I wasn't really thinking about load balancers yet, but looking into it. It could solve the problem quite nicely as well.

[2015-07-02 14:58] carlalexander commented on #10
Right, I debated doing it as I saw it elsewhere during my research. The issue that stayed my hand is what about other plugins? Should I just keep adding rules to accommodate each one.

The Varnish role allows for custom rules to be added. I'm wondering if creating a cookbook to show how to add these additional rules might not be a better approach.

I'm just not sure yet what the better solution is

[2015-07-02 15:37] carlalexander opened #11 "Improve the installation process"
This is probably going to be a long-term discussion. The major hurdle comment so far has been around the [installation process](https://github.com/carlalexander/debops-wordpress/wiki/Installation). It's a hurdle that I thought good documentation might overcome. Once done, I haven't heard of any issues getting the rest to work.

I think it might be a good idea in the long run to create an install s

[2015-07-02 15:44] drybjed commented on #11
I'm open to modfying the `debops*` scripts if necessary. Perhaps changing the CLI to something more like `git` syntax could benefit users more. Instead of `debops <ansible-playbook options>` we could switch to `debops play <ansible-playbook options>` and that would open more options... Not sure yet, but looking forward to discussion.

BTW, GItHub issues are not good discussion forum when you have

[2015-07-02 15:49] carlalexander commented on #11
Absolutely, I plan on coming along soon to discuss a few issues and tickets. I'm writing this down as I'm receiving feedback so I have a good idea where to focus next.  The DebOps command have worked well so far. The main issue is getting someone to a point that they can just run `debops -u root`.

The secondary issue is if we should offer more options through the `debops` cli since this is someth

[2015-07-02 17:27] tobeycodes commented on #1
Relevant: http://wptavern.com/speed-up-your-wordpress-site-with-pound-varnish-nginx-and-mod_pagespeed

[2015-07-02 17:28] tobeycodes commented on #10
I think I prefer the way you suggested. Don't bloat something and assume it's needed by everyone

[2015-07-02 18:15] maximejobin commented on #10
I think it should be added as a plugin and not by default.

[2015-07-02 20:32] carlalexander commented on #8
Ran some tests. Looks good. It was typo!

[2015-07-02 20:32] #8 closed

[2015-07-02 22:58] carlalexander commented on #9
I tried to get it working today by adding this to the `wordpress` role.

[code]

`debops.mariadb_server` ends up running first and it breaks. Will have to come on IRC and discuss this.

[2015-07-02 23:24] carlalexander commented on #10
So I moved the Varnish configs so that they can be overridden. If you wanted to add the WooCommerce config, you'd just need to change the custom host configuration to:

[code]

This won't mean much unless you've used Ansible before, but I'll do a cookbook for custom Varnish configurations.

[2015-07-03 02:31] carlalexander commented on #1
Pound looks like a real good alternative if I can't get a simple setup going using `debops.nginx`. The other part of the equation is the certificate management. That's the trickier one.

DebOps has a thorough certificate management through `debops.pki`. The system is pretty complex. I disabled it to prevent conflicts, but we'd need to turn it on for this (I think). I'll have to work on familiarizi

[2015-07-03 11:28] drybjed commented on #9
You don't need to use `debops.mariadb_server` as a dependency in `wordpress` role. Just add that host to `[debops_mariadb_server] Ansible group and run:

[code]

This will install and configure MariaDB on that host. After that, `debops.mariadb` will automatically detect local MariaDB installation and use it.

[2015-07-03 12:44] carlalexander commented on #9
This feels like a bit of a regression to me. The goal is to have a standalone `wordpress` application role. That's what you do with `debops.gitlab` and all your other application roles. You put `debops.mysql`as a dependency and the database and its users is all set up for you.

This change means that to using the dependency require assigning the host to another group besides the application group.

[2015-07-03 13:03] drybjed commented on #9
3 lip 2015 14:44 "Carl Alexander" notifications@github.com napisał(a):

I plan to switch GitLab roles to MariaDB after vacation, in a week or so.
Then it all should be clearer in what direction I want to move project
towards. Basically make everything more distributed and decentralized.

This behaviour doesn't change all that much. You run the 'debops' command
at the beginning, right? I uses the d

[2015-07-03 15:44] NicoleGeissinger commented on #10
+1 to your thoughts Carl. I feel offering something out of the box that is so site specific is not the way to go. Flexibility to configure support for a plugin like woocommerce is best.

[2015-07-03 16:15] carlalexander commented on #10
Yeah, that's going to be the plan for now @colegeissinger. The immediate goal is to do this and build documentation. We can look into automating some specific setup types in the future.

[2015-07-03 16:43] carlalexander commented on #9
I'll run some more tests and let you know. You gave me an idea.

[2015-07-14 08:21] schrapel opened #12 "Mimiced Vagrant Setup"
Is there an easy way to mimic this setup with Vagrant when developing locally? And how do you currently deploy the db/files from local to staging/production?

[2015-07-14 08:24] drybjed commented on #12
Some tips about using DebOps with Vagrant can be found in https://github.com/debops/examples repository.

[2015-07-14 08:51] carlalexander commented on #12
As @drybjed mentioned, there's the examples repository with some Vagrant examples. I've thinking a bit about it (was on vacation last week). I'm leaning towards is skipping Vagrant and just doing a Docker container.

At WordCamp Montréal, I talked to a few people/speakers that were following the development of VVV and other Vagrant tools. A lot of the mind space is moving away from Vagrant to Dock

[2015-07-14 09:14] tobeycodes commented on #12
Docker makes more sense actually. Didn't think of that.

Yeah, I was asking about automated tools. I agree about not forcing anyone to change their workflow and I was just curious to what you use at the moment. Bedrock replaced Capistrano with CLI tools and there are many other solutions out there but I've not found one that I thought worked really well with WordPress yet.

[2015-07-14 19:30] carlalexander commented on #12
So I don't have much recent experience with automated tooling with WordPress, I've spent the last few years in the Symfony world. There I used a combination of Capistrano and Doctrine fixtures to automate all the code and database deployment. It was pretty magical in the Symfony world.

My blog is migrated to bedrock on my local machine. The plan was to add support for it and Capistrano here. I se

[2015-07-16 06:00] foxpcteam commented on #3
Hi, great project! when you think multisite support will be ready?

[2015-07-19 17:01] carlalexander commented on #3
First priority is HTTPS support then this. I'm slowing down a bit for summer, but I'd like to have this done in August.

[2015-07-22 20:23] carlalexander commented on #5
Might not need to do a guide to create another sudoer user. `debops bootstrap -u root` created a sudo account for the account of my local machine.

[2015-07-28 12:17] carlalexander opened #13 "Blank screen"
There's a few situations that seem to cause blank pages from WordPress. It doesn't seem like the request wasn't received. Instead, it seems like there's no HTML sent. Or maybe it's a redirect response that doesn't make it to the browser.

Investigate blank screen for:
- [ ] Installing a new plugin from the admin
- [ ] Importing XML
- [ ] Core update

[2015-07-28 18:10] carlalexander commented on #13
Created and destroyed a DO droplet a few times to try reproducing the issue. So far, I've seen it once. Couldn't see anything wrong from the nginx side. Forgot to turn on `varnishlog`.

[2015-07-28 22:12] carlalexander commented on #1
I helped someone do this by hand today. Here are some notes from the whole thing. Here's a sample nginx config, but debops should handle the whole thing itself.

[code]

You also run into issues on the WordPress side of things. The codex discusses all of it on the "[Admin Over SSL](https://codex.wordpress.org/Administration_Over_SSL)" page. The important take aways are that you need:
- `FORCE_SSL_

[2015-07-30 11:14] drybjed commented on #1
@carlalexander Have you looked at `debops.pki` yet? `debops.nginx` has full support for HTTPS using it, you don't need to handle certificates by yourself. If it's still confusing, come over to IRC and I'll try explaining. :)

[2015-07-30 11:19] carlalexander commented on #1
I haven't looked at it yet. Someone really wanted it NOW so helped him out.
On Thu, Jul 30, 2015 at 7:14 AM Maciej Delmanowski notifications@github.com
wrote:

[2015-08-04 20:17] carlalexander commented on #5
After talking with @drybjed a while ago, locking down root isn't ideal because some DebOps role need the root user.

[2015-08-04 20:20] carlalexander commented on #5
Started researching how to handle SFTP users with `debops.sftpusers`. The main issue is that you still need SSH keys to connect to the server. It's hardcoded into `sshd_config` in `debops.sshd`.

It's more secure, but has some serious draftbacks. The average WordPress user needs to give SFTP access to their clients. These clients aren't tech-savy and asking them to supply a SSH key isn't realistic

[2015-08-04 20:53] drybjed commented on #5
@carlalexander If clients aren't tech-savvy, why do they need access to a UNIX account in the first place? You can create an account in WordPress CMS for them, which probably will end up with a password, hopefully random. But WordPress application should be reasonably secured by running `php5-fpm` daemon on separate user account. More security options, like AppArmor, will probably help as well in

[2015-08-04 21:35] carlalexander commented on #5
I want passwords for SFTP users. Not regular Unix users. That I understand, but you force it even for SFTP. It's this sections that can be loosened as far I could tell from looking around:

[code]

[2015-08-04 22:11] drybjed commented on #5
@carlalexander Yeah, you're right, it cannot be changed right now. I guess `debops.sshd` is overdue for an update, I wanted to convert the `sshd_config` file to be assembled from parts; that way other roles could drop in their own `Match` sections, for example. I'll try to update it soon.

[2015-08-05 01:44] carlalexander commented on #5
@drybjed Yeah, that'd be great. I think it would be fair if `debops.sftpusers` could create regular passwords for the users too.

[2015-08-08 10:22] mosamlife opened #14 "Error 503 Backend fetch failed"
This is weird  issue i found i just deploy a successful WordPress installation. but i have to import my database backup so i delete the old database. when i delete old database the website is gone i show error every where

The error is :

Error 503 Backend fetch failed

Backend fetch failed

Guru Meditation:

XID: 51

Varnish cache server

[2015-08-10 17:04] carlalexander commented on #14
This means there's probably a PHP error when Varnish tries to fetch a WordPress page. Can you give the output from the error log? You can find it under `/var/log/nginx`.

[2015-08-10 17:49] mosamlife commented on #14
here is the output of error.log file

2015/08/10 16:18:36 [notice] 35221#0: using inherited sockets from "10;11;"
2015/08/10 16:18:46 [emerg] 35241#0: bind() to 0.0.0.0:8080 failed (98: Address already in use)
2015/08/10 16:18:46 [emerg] 35241#0: bind() to 0.0.0.0:80 failed (98: Address already in use)
2015/08/10 16:18:46 [emerg] 35241#0: bind() to 0.0.0.0:8080 failed (98: Address already in use)

[2015-08-10 17:53] carlalexander commented on #14
Can you run `service hhvm status`? If it isn't started, can you try `service hhvm restart`?

[2015-08-10 17:55] mosamlife commented on #14
i did it but still  same issue :(

[2015-08-10 17:56] carlalexander commented on #14
Is hhvm started?

[2015-08-10 17:57] mosamlife commented on #14
yes hhvm is running successfully restart

[2015-08-10 17:58] mosamlife commented on #14
here is the output of varnish log file

2015/08/10 16:21:01 [error] 35223#0: *72 connect() failed (111: Connection refused) while connecting to upstream, client: 191.238.236.112, server: thepcbucket.com, request: "GET /wp-cron.php HTTP/1.1", upstream: "http://127.0.0.1:6081/wp-cron.php", host: "thepcbucket.com"
2015/08/10 16:21:22 [error] 35223#0: *74 connect() failed (111: Connection refused) whi

[2015-08-10 17:58] carlalexander commented on #14
What about `/var/log/hhvm/error.log`? Any errors there?

[2015-08-10 18:00] mosamlife commented on #14
i can't even access phpmyadmin

[2015-08-10 18:01] mosamlife commented on #14
here is the output of hhvm error log

Finished singleJitRequest 1
Finished singleJitRequest 2
Finished singleJitRequest 3
SlowTimer [3027ms] at runtime/ext_mysql: slow query: UPDATE `wp_options` SET `option_value` = 'O:8:\"stdClass\":4:{s:12:\"last_checked\";i:1439223107;s:8:\"response\";a:1:{s:19:\"akismet/akismet.php\";O:8:\"stdClass\":6:{s:2:\"id\";s:2:\"15\";s:4:\"slug\";s:7:\"akismet\";s:6:\"

[2015-08-10 18:04] carlalexander commented on #14
Did you edit any of the nginx configuration? You should have a fallback to php-fpm as well if hhvm isn't working.

[2015-08-10 18:05] mosamlife commented on #14
nup i did not edit any nginx configuration. i just uploaded my database and its working but when i uploaded my ftp files it shows me 503 error

[2015-08-10 18:06] carlalexander commented on #14
When I try to connect to the server, I'm redirected to HTTPS. If you didn't change anything, this will cause an issue.

[2015-08-10 18:07] mosamlife commented on #14
yes i am using your https config thats it. try to open thepcbucket.com/wp-admin

[2015-08-10 18:10] carlalexander commented on #14
You need to remove the https in the URL. See if that works. Or take a look at #1 for a temporary solution until I add support for SSL.

[2015-08-10 18:13] mosamlife commented on #14
yes i am using this https configuration i use this code in varnish.thepcbucket.com.conf and https working.

[2015-08-10 18:14] mosamlife commented on #14
hey its weird when i delete my themes and plugins its working any idea why this happening ?

[2015-08-10 18:15] carlalexander commented on #14
Not sure, there might be an error with one of the plugins. The error logs should show that.

[2015-08-10 18:18] mosamlife commented on #14
let me install plugins by one by one

[2015-08-12 03:19] carlalexander commented on #1
Did a test run at this tonight. `debops.pki` didn't seem to like the self-signed certificate I created. It seems to modify it when I ran the standard playbook. This caused nginx to choke. I had to copy over the original certificate for it to work.

Creating the reverse proxy with or without SSL is problematic with `debops.nginx`. I need to copy a lot of logic from the default template and handle i

[2015-08-12 07:02] drybjed commented on #1
So, it looks like Ubuntu team will try and backport the fix to Trusty. In the meantime, you could try switching the `mariadb_server_flavor` to `mysql`, it should work fine then. After you test it, it can be added to the flavor map to fix the issue on Trusty for the time being.

[2015-08-12 07:22] drybjed commented on #1
@carlalexander I would need to know a bit more about how you created the self-signed certs and how they were used with `debops.pki`. I admit that role is a bit overengineered right now and the whole process could be designed better. However with default configuration you should at least get a working certs as long as your domain is set correctly, without anything required on your part.

If you tri

[2015-08-12 12:08] carlalexander commented on #1
Varnish can't terminate the SSL. That's why we need the reverse proxy to handle it. I'll toy with `debops.nginx` to see what's needed to do a simpler config. Ideally, I think it's just a question of reducing the required values on the default template.

As for `debops.pki`, I'm not sure what was going on, but it seemed to add intermidiary certs into self-signed certificate I'd put in `secret`. I d

[2015-08-12 12:18] drybjed commented on #1
`debops.pki` makes full blown CA chain, from a root CA certificate, several intermediates (first to allow you to move the root CA key offline while still being able to create new intermediate CAs, and second intermediate CA to sign the certs themselves). I imagine if you put your certs in the wrong place it could mess them up... We can talk about it on IRC. :)

[2015-08-12 18:08] mosamlife commented on #14
Got the problem
this problem cause because of [maintenance mode plugin](https://wordpress.org/plugins/wp-maintenance-mode/). :)

P.S : All Maintenance Mode plugin not working.

[2015-08-13 14:54] shawnhooper opened #15 "Recommend making default WordPress username something other than "admin""
Either making this part of your configuration instructions to change it somewhere, or to make it another username that's stored in the secret folder along with the password.   "admin" is the old WordPress default username and is used in all sorts of automated attacks against WP sites.

[2015-08-13 16:37] carlalexander commented on #15
I'm open to discussion on this. My decision to put `admin` as the default username was intentional. I figured I had two choices:
1. Force everyone to pick an admin username
2. Use `admin` as a default and help people change it in the future.

The first choice didn't seem appealing at the time (and still now to an extent). It adds a lot of additional step and learning curve to override the admin us

[2015-08-20 01:53] carlalexander commented on #14
I tried the plugin on a freshly configured server and couldn't get any errors. Are you still having problems?

[2015-08-21 16:04] shawnhooper opened #16 "Suggested Imporvement: Add cURL support to php"
Although WordPress doesn't recommend calling cURL directly, and using wp_remote_get instead, there are some plugins and libraries that make use of the native PHP functions, which require the extension.

sudo apt-get install php5-curl

[2015-08-21 16:36] carlalexander commented on #16
Good point! I'm surprised it's not there in fact. Oversight on my part. I'll add it over the weekend.

[2015-08-21 20:26] #16 closed

[2015-08-24 02:30] shawnhooper commented on #15
That makes sense.  The 2nd option, with the supporting documentation, is a reasonable solution.

[2015-08-25 02:17] carlalexander opened #17 "Varnish doesn't restart"
Ran into an issue where Varnish wouldn't restart at all. This was the error:

[code]

The only mention of a similar issue was on [Server Fault](http://serverfault.com/questions/489296/varnish-fails-to-start-running-vcc-compiler-failed-without-a-compiler-error). This mentions that there was no space to compile the VCL. I couldn't confirm that this was the same issue here. Rebooting the server fixed

[2015-08-25 02:32] carlalexander commented on #1
Support for SSL is in! Scores very well when I tested it on my site.

![image](https://cloud.githubusercontent.com/assets/654684/9457316/6a4b3ae8-4aaf-11e5-9691-64dd01eadd6a.png)

Ran into a few issues migrating my site. For example, you need to upgrade legacy URLs in the database. You can cover most of them using the following queries (found in [this article](https://css-tricks.com/moving-to-http

[2015-08-25 03:20] carlalexander opened #18 "Add test suite"
We can use [rolespec](https://github.com/nickjj/rolespec) which is the library that DebOps uses

[2015-08-25 15:10] shawnhooper commented on #13
The only time I've seen this was with the simple-fields plugin. It was causing a white screen (and only on my production box, not staging) when it called it's internal clear_cache function.  Wasn't a plugin conflict, it would do this even if it was the only plugin installed.

I opened a support ticket with the plugin's author to see if they would comment: https://wordpress.org/support/topic/clear_

[2015-08-25 15:19] shawnhooper opened #19 "git push crashes php5-fpm"
I have a bare repo on my server that I push to as a remote.  In the post_receive hook, it copies the contents of the repo to the /var/www/<domain>/ folder.

Most of the time when doing this, I have to restart the php5-fpm service or I get a 500 series error when going to the site.

Here's the contents of my post-receive:

[code]

Restarting php5-fpm and touching the index.php where both attempts a

[2015-08-25 20:43] carlalexander commented on #19
Is there anything in the error logs? 500 series error should show up in theory.

[2015-08-25 20:51] shawnhooper commented on #19
I'll check on my next push.  I assume it's the nginx logs I'm looking at?

[2015-08-25 22:27] carlalexander commented on #19
Yep!

[2015-09-05 23:28] carlalexander commented on #3
Just pushed the support for multisite. You can't use it to migrate a site to multisite, but it'll setup subdirectory or subdomain network installation.

I'll have to do a pass at the wiki to add a page for it.

[2015-09-21 12:32] carlalexander commented on #14
Going to close this. Please update if you're still having the issue.

[2015-09-21 12:32] #14 closed

[2015-09-21 12:32] carlalexander commented on #19
Is this still happening @shawnhooper?

[2015-09-27 04:31] tobeycodes commented on #12
I just found a couple of capistrano tasks that may help out when you plan to integrate capistrano. One for syncing uploads folder and one for syncing the database. It'll need a few changes but should be good

https://gist.github.com/schrapel/206ff78bd7f10a898989
https://gist.github.com/schrapel/fb6103dd2e6f2be6da9b

[2015-09-27 05:24] tobeycodes commented on #12
@carlalexander Just been playing around with Rocketeer and really liking it. I'm going to get it working for this, the only change I guess would be updating the virtualhost document root to the current folder in releases.

[2015-09-27 12:17] carlalexander commented on #12
Awesome! Thanks @schrapel.

Bedrock and automated deployments is next on the features I wan't to work on. I still haven't had time to do a documentation pass for the last few features I added so I need to finish that first. Hoping to tackle this in the next few weeks.

[2015-09-27 16:00] tobeycodes commented on #13
@carlalexander I get this with any plugin install. Happy to give you ssh access to do your thing and check the logs

[2015-09-27 18:19] schrapel opened #20 "Rocketeer SSH"
When I try to connect to the server via Rocketeer I get the following error. If I try to connect via SSH it works fine. If I try to connect via Rocketeer before installing debops-wordpress it connects fine (albeit tells me a lot of dependencies like php, composer, etc are not installed). I know there ideally should be a deploy user to handle this but there has to be some variable/setting changed d

[2015-09-27 19:29] drybjed commented on #20
@schrapel Hi. `debops-wordpress` uses [DebOps sshd role](https://github.com/debops/ansible-sshd/) to manage OpenSSH server. Recently I changed it so that suggested ciphers from [cipherli.st](https://cipherli.st/) are used by the OpenSSH server. They should work on recent OpenSSH versions, so I suggest that you try upgrading your OpenSSH client.

[2015-09-27 20:01] tobeycodes commented on #20
@drybjed I've updated OpenSSH (using https://mochtu.de/2015/01/07/updating-openssh-on-mac-os-x-10-10-yosemite/) and verified it's working but I still get the same error.

I'm not sure if OpenSSH would be the problem since connecting via SSH in terminal works fine it's just when the Laravel SSH component tries to connect it doesn't work

[2015-09-27 20:06] drybjed commented on #20
Perhaps Laravel SSH component is too old? I suppose if you really need to, you can change the default `sshd_*` variables to allow more ciphers by setting them in Ansible inventory, but I would look for making the software work with current ones instead.

[2015-09-27 20:26] tobeycodes commented on #20
I think it's the phpseclib library that is probably too old, but honestly this is getting way over my level of competence. I'm guessing this is somewhat relevant: https://github.com/phpseclib/phpseclib/issues/676

Where the code breaks: https://github.com/phpseclib/phpseclib/blob/master/phpseclib/Net/SSH2.php#L1359

Is there a easy way to allow more ciphers to an existing server? Otherwise I will

[2015-09-27 20:38] drybjed commented on #20
Sure, if algorithm maps are not set, specific lists of algorithms are not defined in `/etc/ssh/sshd_config`, which means that OpenSSH server uses the default ones. Set this in inventory:

[code]

[2015-09-27 21:47] tobeycodes commented on #20
In the vars.yml file? I tried that and re-ran debops -u root but doesn't look like the sshd config changed. It's widely different from the default sshd_config and actually only has 4 lines that are not commented out.

I'll give it a go on a fresh server

[2015-09-27 21:57] carlalexander commented on #13
If you're getting this every time, that'd be great. I'm a bit busy this week because I'm speaking at WordCamp Toronto next weekend. I'll reach out over Twitter to get the details.

[2015-09-27 22:01] carlalexander commented on #20
Is there multiple cipher options for `debops.sshd` like `debops.nginx` @drybjed? Maybe we could see if the weaker cipher suite works with Rocketeer?

[2015-09-28 06:14] drybjed commented on #20
@schrapel I would put these variables in your Ansible inventory, depending on how large the scope you want. All of your hosts? Put it in `ansible/inventory/group_vars/all/sshd.yml`. Just a group? Put it in `ansible/inventory/group_vars/group_name/sshd.yml`. Only a specific host? Put it in `ansible/inventory/host_vars/hostname/sshd.yml`.

@carlalexander There are no lists of ciphers algorithms to c

[2015-09-28 10:15] carlalexander commented on #20
There's a link on cipherli.st that switches the ciphers to something else for older browser support. I can't to it because it's just jQuery, but here are the ciphers he mentions:

[code]

It's worth trying out to see if works here. I'm sure someone else is going to run into issues with modern ciphers.

[2015-09-28 10:59] drybjed commented on #20
I'm not sure if OpenSSH understands list of ciphers in this format, here's an example set of ciphers and algorithms: https://security.stackexchange.com/questions/25662/openssh-default-preferred-ciphers-hash-etc-for-ssh2

[2015-09-28 11:01] carlalexander commented on #20
Oh, I see! I'll look into it.

[2015-09-28 15:45] tobeycodes commented on #20
Using the default ciphers worked fine, so thank you for your help on this. Few other issues cropped up but I'm working through them and will document it all for anyone that wants to do this also.

[2015-09-28 15:49] tobeycodes commented on #20
For example, not sure if it's intentional but mcrypt is installed but not enabled by default. Perhaps consider adding the following

[code]

[2015-09-28 16:00] carlalexander commented on #20
What do you mean not enabled?

[2015-09-28 16:03] tobeycodes commented on #20
As in one of the debops scripts installs mycrpt using

[code]

But the command to enable it was run. In the same way this would have been run to enable rewrites

[code]

This is probably getting a bit out of scope for this issue though

[2015-09-28 16:10] carlalexander commented on #20
Yeah. Maybe open another issue about it so I can look into it

[2015-09-28 21:09] tobeycodes commented on #17
I still get this error when restarting and it's stopping me from clearing the cache. It's a shame there is no helpful error message here. I increased my ram and disk size and the issue remained so I don't think it's running out of space

[2015-09-28 22:08] carlalexander commented on #17
Does restarting fix the issue like it did for me? I haven't had it happen again yet.

[2015-09-30 21:33] Ichag opened #22 "connection to hhvm.sock failed"
After installation of a fresh installed debops-wordpress on a digitalocean droplet my error log is going to filled with the following error message.
The site works in general but some times some page are don't render completly especialy during installation of plugins the page stops with a whitescreen.

[2015-10-01 11:49] carlalexander commented on #22
The only thing that stands out is the `server: example.com`. Is it possible that there's a placeholder value in your configuration still? The whitescreen issue could be related to [this](https://github.com/carlalexander/debops-wordpress/issues/13). We'd have to see once the other issue is fixed.

[2015-10-01 13:06] Ichag commented on #22
Oh sorry, I replaced the real servername with example.com.
I will do some testing later in a virtualbox for more informations

[2015-10-01 13:08] Ichag commented on #13
It seams that the install process of plugins is completed correctly, despite blank screen.

[2015-10-04 11:30] Ichag commented on #3
Can we do anything to support your work to document the steps to a multisite installation?

[2015-10-04 21:56] caramiame commented on #3
[quote]WordPress Multisite is great, but what most people actually want is multiple networks. In this talk (good for all experience levels), I’ll explain what networks are, why you’d use them, and how to unlock this powerful and hidden WordPress core feature.[/quote]

re: http://wordpress.tv/2014/07/26/john-james-jacoby-multisite-and-multi-network/

[2015-10-05 13:16] carlalexander commented on #3
I plan on tackling it this week @Ichag. The documentation is roughly just a question of writing what needs to be done in the configuration file to configure a multisite server.

[2015-10-05 13:16] carlalexander commented on #22
Did it work?

[2015-10-05 13:20] carlalexander commented on #13
Yes, that's the issue I observed as well. My hunch is that it's a bug inside the Varnish configuration. Something gets cached and we get that back instead of the redirect. It's just hard to reproduce.

[2015-10-05 15:54] Ichag commented on #22
No, not yet. I have kickstarted a few maschines and deployed the playbook on it. It is always the same error mesage flooding my log.

[2015-10-05 18:20] ypid commented on #9
@carlalexander I will look into your role, rework it and switch it to `debops.mariadb` the next days.

[2015-10-05 18:38] ypid opened #23 "Add to Ansible Galaxy."
Add the role `carlalexander.wordpress` to https://galaxy.ansible.com/.

[2015-10-05 18:44] ypid opened #24 "Merge role wpcli into the wordpress role."
I will probably do this during rework and make it optional. Any thoughts?

[2015-10-05 19:53] ypid opened #25 "Remove swap from repo."
Drop the current `swap` role. There are better roles out there. You can even include them in this git repo via submodules.

After a quick review of the roles on Galaxy, [`tersmitten.swapfile`](https://github.com/Oefenweb/ansible-swapfile) looks the most promising.

[2015-10-05 20:02] drybjed commented on #25
@ypid I like this role as well. After some cleanup and better defaults (like for example, create a swap 2x the size of RAM if RAM < 4 GB, else create say, 2 GB swap, and configurable swapfile name) it could be implemented in DebOps. I don't want to add it directly to the project without author's permission, but I like ideas implemented in it.

[2015-10-05 20:34] ypid commented on #25
Sounds good.

[2015-10-05 21:09] carlalexander commented on #25
Yep, I want to remove it, but wanted to use a debops role for it. I forget where me and @drybjed talked about it though. I left it as is for now.

I'm not sure how debops handles external galaxy dependencies though. Does it support them? I'm wary of adding steps for the user to use this project. It's already too many steps in general. I want to [improve it in the long run](https://github.com/carla

[2015-10-05 21:22] carlalexander commented on #24
A lot of this was designed with the idea that @drybjed could merge what he wanted upstream. Someone might want just WP-CLI and not a full WordPress installation. Or they could have it as a dependency in their own WordPress role.

For those reasons, I'm biased towards keeping it seperate. The goal of the `wordpress` role is to wire all these dependencies together like `debops.gitlab` does. This mea

[2015-10-05 21:32] ypid commented on #24
Pro merging:
- Super simple role by itself
- The command could be used to further automate the installation, see https://github.com/debops/ansible-owncloud/pull/11 (not sure about this as I am just diving into wordpress setup)

Contra merging:
- Others can not simply use it as a single role (which they will not do anyway when the thing is not on Galaxy but just write it themselfs again like you di

[2015-10-05 21:53] carlalexander commented on #24
I don't understand "The command could be used to further automate the installation". Shouldn't it not change anything? The dependency will install it before using the role. You should be able to run commands anyways.

I'm installing WP-CLI the [same way that WP Engine does](https://github.com/wpengine/hgv/blob/master/provisioning/roles/wp-cli/tasks/main.yml). The goal of the mercury project is to

[2015-10-06 06:48] ypid commented on #24
I will come back to that when I am actually locking into it. I just wanted to discuss this up front.

[2015-10-06 07:32] drybjed commented on #25
@carlalexander `debops` scripts don't really care about Ansible Galaxy roles or their dependencies. That is, as long as the roles are installed somewhere within Ansible `roles_path`, they should be available to other roles and playbooks.

[2015-10-06 15:07] carlalexander commented on #25
Right so it's another step for users

[2015-10-06 17:22] ypid commented on #25
`ansible-galaxy install` might come in handy.

[2015-10-06 20:37] carlalexander commented on #3
Alright, you can find the [multisite cookbook](https://github.com/carlalexander/debops-wordpress/wiki/How-to-create-a-multisite-network) in the wiki.

[2015-10-06 20:37] #3 closed

[2015-10-08 11:32] carlalexander opened #26 "Do not make postfix dependent on hostname"
Not everyone will know how to make postfix work properly to send emails. Emails should always work whether someone set their hostname properly or not.

[2015-10-08 13:05] drybjed commented on #26
Oh, I can't wait to see this :P

[2015-10-08 13:08] carlalexander commented on #26
Yeah, I'm not sure if it can be done. I had someone contact me about an issue and I figured I'd put in a ticket to look into it. I'm thinking maybe I can parse the `wordpress_url` for the domain and pass it to postfix as the default instead.

[2015-10-08 13:11] drybjed commented on #26
But for Postfix HELO/EHLO you don't want to use "some blog domain", you want to use the host FQDN, otherwise other SMTP servers, after checking if the hostname you gave in HELO is valid or not, might decide to block your mail. It's best to stick to the host FQDN or whatever the PTR lookup points to in this case. Which means DNS needs to be set up correctly for mails to work, there's no good workar

[2015-10-08 13:14] carlalexander commented on #26
Oh, I see. So maybe, this needs to be a documentation issue. It needs to be clear that you need a good FQDN when creating the server. To be fair, I screwed that up at first too. I named my server `carlalexander-wordpress` and that caused a lot of issues.

[2015-10-08 13:16] ypid opened #27 "Installing WordPress from distribution"
At least in the Debian community some install wordpress via apt (there was a short poll in a DebConf15 talk and most of the people there install wp via apt :) ). Did you think about this?

https://packages.debian.org/search?keywords=wordpress
http://packages.ubuntu.com/search?suite=vivid&searchon=names&keywords=wordpress

[2015-10-08 13:19] drybjed commented on #26
To be honest most of the DebOps roles depend on either `ansible_domain` or `ansible_fqdn` one way or the other, so I think that setting up a proper, resolvable domain should be a requirement. DebOps works on a single host without a domain for bootstrapping purposes, but don't expect everything to work in that case. Being a good netizen should be more important than screwing everybody else because

[2015-10-08 13:24] carlalexander commented on #27
The main thing that sticks out is that the stack looks completly different (Apache, MySQL, no Varnish).

How would we configure all the different components to work together? How would we handle multisite vs single site? SSL? Configure everything after the apt package? Still doesn't handle the stack mismatch very well though.

Or did you mean converting all of this into a package?

[2015-10-08 13:26] ypid commented on #27
No, I meant to use the unmodified wordpress package from Debian. I am not sure how the Multisite setup could be done there. Everything else should be double.

[2015-10-08 13:34] carlalexander commented on #26
I agree. Just looking at how best supporting that for anyone less familiar
with this. FQDN means nothing to most people who want to use this.
On Thu, Oct 8, 2015 at 9:19 AM Maciej Delmanowski notifications@github.com
wrote:

[2015-10-08 21:08] ypid commented on #24
All right, I will leave it a separate role :smile: but when this is merged into the DebOps project, it will be the smallest role by far ;-)

[2015-10-08 21:14] ypid opened #28 "wordpress_url is not a url."
https://en.wikipedia.org/wiki/Uniform_Resource_Locator#Syntax

Sorry, but I just had to link to this https://www.youtube.com/watch?v=2Tvy_Pbe5NA&t=2m44s

Other DebOps roles use a list like `wordpress_domain` for this.

[2015-10-08 21:50] carlalexander commented on #28
I'm not sure about this one. I'm aware of the distinction here. :stuck_out_tongue:

That said, we also have to maintain a language that's understandable to the people that will use this project. They might not know the finer distinction between URL components vs just an URL. For them, `wordpress_url` is what you see everywhere.

That said, this might the best time to do a breaking change like this

[2015-10-08 21:54] carlalexander commented on #24
That's fine. I still think it makes more sense this way. :smile:

[2015-10-08 21:54] #24 closed

[2015-10-08 21:58] carlalexander commented on #9
Looking at the commit for `debops.mariadb`. One thing, I think I'd change is the host for `mariadb_server`. Is there a way to configure it with a fallback to `wordpress`? It would be a lot nicer for 90% of users who work on a single host.

As usual, I'd like to minimize the complexity for anyone doing using this project. That was my main issue when I started looking into the two roles.

[2015-10-08 21:58] ypid commented on #28
All right. It’s ok when the users don’t know what an URL is. We can just add more documentation to the defaults file or the wiki in that case.

Sounds good. All (breaking) changes are documented here: https://github.com/ypid/debops-wordpress/blob/rework/roles/wordpress/CHANGES.rst

[2015-10-08 22:04] ypid commented on #9
Can be done:

playbooks/wordpress.yml

[code]

hosts file unchanged as of master.

Probably makes sense to keep this as simple as possible. I think the `Manage MariaDB server` play is even redundant …

[2015-10-08 22:09] carlalexander commented on #9
Yeah, it's super important for this project. I didn't create it for people with sysadmin knowledge. It's for people that want a way to get something production worthy without it (or much of it anyhow).

That's why I spend a LOT of time on documentation. It just needs to be as easy to use as we can make it. I need to write this all done in a contributing document.

[2015-10-08 22:13] ypid commented on #9
:+1: for the nice end user documentation. Fixed it.

[2015-10-08 22:13] carlalexander commented on #28
Yep, that's fine!

[2015-10-08 22:15] carlalexander commented on #9
What we can do in the future is create a playbook for distributed architecture. I plan on having multiple playbooks (e.g. Bedrock) that's why there's a `common.yml`.

[2015-10-09 20:43] caramiame commented on #3
thanks very much!

[code]

 Closed #3.—
Reply to this email directly or view it on GitHub.

[2015-10-10 21:04] ypid commented on #1
@carlalexander TLS support works nicely but it is not enabled by default and I did not see it mentioned in the docs. I just implemented support to serve WordPress via [HTTP and HTTPS](https://github.com/ypid/debops-wordpress/commit/0d2fec2fc68437e1bda327f83e9fd79b0d0d2bad) simultaneously. I would suggest that we enable that by default so that admins/users login to wp via HTTPS.

[2015-10-10 21:25] carlalexander commented on #1
I was going to look at moving to the proxy template tonight. Finishing up the security docs right now. Why not default `wordpress_redirect_to_ssl` to `False` instead of `undefined`?

[2015-10-10 21:27] carlalexander commented on #1
I'll look into implementing some of the stuff in that commit tonight.

[2015-10-10 21:37] ypid commented on #1
Done :smile:

[2015-10-10 21:38] carlalexander commented on #1
I'm looking at closing this ticket tonight. I'll probably implement this for you as well as the `proxy` template. :wink:

[2015-10-10 21:39] ypid commented on #1
I already did that …
https://github.com/ypid/debops-wordpress/tree/rework
Do you want to merge it right way? I can open a second PR for my other stuff (plugin management :smile: ) later?

[2015-10-10 21:41] carlalexander commented on #1
I know, I saw! Can you break out the changes into its own PR? I know you've been doing a lot of various changes everywhere.

[2015-10-10 21:46] carlalexander commented on #15
Alright, documentation is done! You can find the part about the `admin` username [here](https://github.com/carlalexander/debops-wordpress/wiki/How-to-secure-your-WordPress-site#change-the-default-wordpress-username).

[2015-10-10 21:46] #15 closed

[2015-10-10 21:50] carlalexander commented on #1
Alright, documentation is done and can be [found in the wiki](https://github.com/carlalexander/debops-wordpress/wiki/How-to-secure-your-WordPress-site). Once we change to the `proxy` template and add the redirect option, I'll consider this issue done.

[2015-10-10 21:54] carlalexander commented on #28
Can you make a standalone PR for this? I'll merge it right away.

[2015-10-10 21:57] ypid commented on #1
I could split my rework branch but I would like to avoid that. The other changes are more in the background. And all breaking changes are documented. Could you reconsider this and maybe review my current rework please? #29

[2015-10-10 22:03] carlalexander commented on #1
Yep, but, in the future, I'd rather if we didn't do massive PRs like that so we can track things a bit more easily. If you want to add plugin management, create an issue and a PR just for that. :smile:

I'll close this then and work through the PR.

[2015-10-10 22:03] #1 closed

[2015-10-11 02:20] carlalexander commented on #9
I'm having trouble testing things right now, but there's a pretty big BC break with `debops.mariadb`. The credentials aren't stored in the same location. This means that old versions of the script will break since it won't find the existing passwords.

[2015-10-11 02:25] carlalexander commented on #28
This will be included in the group of commits around #29.

[2015-10-11 02:25] #28 closed

[2015-10-11 02:27] carlalexander commented on #9
@drybjed What's the logic between credentials stored under `/secret/credentials` vs those under `/secret/mariadb`?

[2015-10-11 11:58] drybjed commented on #9
@carlalexander Passwords stored in

[code]

are dependent on the FQDN hostname of a given host, so each host has its own set of passwords.

Passwords stored in

[code]

depend on the name of the MariaDB host which can be either local or remote. With this layout multiple remote hosts can access the same MariaDB password no matter what's their FQDN.

[2015-10-11 13:28] ypid commented on #9
@carlalexander This change should not break current installations as the password is not changed once it is setup. So the only issue is documentation but that should be double :wink:

[2015-10-11 21:24] carlalexander commented on #13
Ran into a similar issue today doing tests for #29.

Couldn't get the `/wp-login` screen to display with Varnish. Turning off the Varnish server and going to the direct PHP fallback worked. Since I could reproduce the issue consistently, I managed to get some log output. This is from a forced refresh of the page.

[code]

[code]

[code]

The big thing that stands out is the content length. Everyth

[2015-10-12 16:22] ypid opened #32 "Allow completly seperate WP installations"
I tested the multisite thing and that is not bad but it would also nice to have the option for completely separate wordpress installations. With the wpcli that should be double. Other things which need to be adjusted for this is the Varnish/Nginx setup. This is more a long term issue through.

[2015-10-12 16:53] carlalexander commented on #32
This was discussed in #3. To do this in a secure manner, you need seperate fpm-pools, nginx users, etc. for each installation. This creates a proper separation between sites and prevents cross-contamination. It's a lot of work for a specific use case.

You can run a high performance site on a $5/month DO droplet which is quite cheap. I understand it's overkill for some and you could run multiple s

[2015-10-12 16:57] ypid commented on #32
All right. Maybe will implement it some day.

[2015-10-12 22:35] schrapel opened #33 "Varnish DDoS Protection"
Would it be sensible to add something like this?

http://www.htpcguides.com/wordpress-ddos-attack-protection-varnish-4-firewall/

[2015-10-12 22:41] carlalexander commented on #33
I saw that today! It might be a good idea. That said, when I load tested,
you could handle a huge amount of connections on the 5$/month droplet. But
could be cool.
On Mon, Oct 12, 2015 at 6:35 PM WordPress notifications@github.com wrote:

[2015-10-13 10:55] carlalexander commented on #33
I was thinking about it some more. I think it'd be good to protect certain non-cached pages as well like `/wp-login.php`.

[2015-10-15 18:21] schrapel opened #38 "Installing extra dependencies"
I'm finishing up my config for Rocketeer. I've written a custom task that'll automatically run the build process for gulp but this means the dependencies need to be installed on the server. Currently I've ssh'd into the server and installed this manually. How easy would it be for me to extend debops to run these commands during the installation process? I'm sure this is a pretty basic question, bu

[2015-10-15 18:41] ypid commented on #38
I would recommend to create an extra role for this. For the NodeJS stuff you can use [debops.nodejs](https://github.com/debops/ansible-nodejs) as role dependency and use the npm module to install bower and gulp.

[2015-10-15 19:29] tobeycodes commented on #38
You're right on the debops.nodejs stuff, looks like I can define the global modules for bower / gulp at the end of this file https://github.com/debops/ansible-nodejs/blob/master/defaults/main.yml

Also, there appears to be a debops for composer too but it does look half finished
https://github.com/barraponto/debops.composer

There are also a bunch of things just for ansible https://www.google.com/

[2015-10-15 20:17] ypid commented on #38
Just to clarify, you don’t need to use `nodejs_npm_global_packages` to install the npm dependencies (in case of role dependencies). This role can be used to ensure that NodeJS is installed. Since there is an npm module in Ansible, you can use that directly.

[2015-10-15 21:02] carlalexander commented on #38
I plan on tackling some this soon (after I'm done with all of @ypid's PRs :stuck_out_tongue:). The next feature I want to work on is Bedrock + Capistrano which should have some overlap with this.

[2015-10-15 21:48] tobeycodes commented on #38
I personally don't see the benefit in having a bedrock role. Once you can deploy from Capistrano or Rocketeer, you would assume that the repo contains Bedrock anyway so it's just case of running a deploy once the server is installed. The only thing I can see a bedrock role is installing something that's going to get overwritten by a deploy anyway. Or did you plan something else?

The way I do it a

[2015-10-15 22:47] carlalexander commented on #38
It wasn't going to be a role as much as a separate playbook `bedrock.yml`. You might be right and it's not necessary. I just have to see what we need to get from point A to B like I did for SSL. Might just be configuration, changes to DebOps roles and/or documentation.

The goal is to run two commands and you can do `cap deploy` or the equivalent Rocketeer command.

[2015-10-16 01:24] tobeycodes commented on #38
I just pushed up my Rocketeer config. And wrote a lot of my notes in my head about changes that need to be made. It's all a bit of a mess but as long as you follow it one command deploys work.

I'm going to work on refactoring and improving the code but more importantly the wiki needs to make more sense.

https://github.com/schrapel/wordpress-deploy

Hopefully it helps you or someone else

[2015-10-18 12:38] #9 closed

[2015-10-20 03:23] carlalexander commented on #25
I saw `debops.swapfile` go through a few days ago. We'll be able to migrate to it.

[2015-10-20 16:31] tobeycodes commented on #1
Would be cool to support this when it's released properly https://letsencrypt.org/

[2015-10-20 16:34] carlalexander commented on #1
For sure! It'll probably just end up being a guide.

[2015-10-20 16:51] ypid commented on #1
There is also an interest in the DebOps project to support this. I might look into supporting https://letsencrypt.org/ somehow using the `debops.pki` role in the near future.

[2015-10-20 16:54] carlalexander commented on #1
That'd be amazing.
On Tue, Oct 20, 2015 at 12:51 PM Robin Schneider notifications@github.com
wrote:

[2015-11-15 15:02] carlalexander opened #40 "Change storage structure of WordPress secrets"
After speaking with @drybjed yesterday, it seems that the `wordpress` role would also benefit from a change of structure for its secrets. WordPress secrets aren't tied to `{{ ansible_fqdn }}`, but to the WordPress installation. This will be a problem once we look at distributed architecture.

Instead, the storage format should be `secret/wordpress/{{ wordpress_domain }}/credentials/{{ wordpress_us

[2015-11-15 15:04] drybjed commented on #40
:+1:

[2015-11-15 17:05] #40 closed

[2015-11-21 22:29] carlalexander commented on #19
I'll close this for now. You can reopen a new one if it happens again @shawnhooper.

[2015-11-21 22:29] #19 closed

[2015-11-21 22:30] carlalexander commented on #22
Sorry, I haven't followed up on this. Did you ever get this to work?

[2015-11-21 22:39] carlalexander commented on #13
I haven't had this issue happen in the past two month during testing other PRs. I'll reopen it if I see it again.

[2015-11-21 22:43] carlalexander commented on #17
Do you still get this error @schrapel? I haven't had it happen to me since then.

[2015-11-21 22:45] tobeycodes commented on #17
I honestly haven’t tried restarting since. I’d close it as well and if it pops up again investigate

[2015-11-21 22:55] carlalexander commented on #17
Perfect!

[2015-11-21 22:55] #17 closed

[2015-11-22 00:05] carlalexander commented on #13
Was too hasty closing this one. Ran a battery of tests to be sure. I think I was able to see issue. There was a `FetchError eof socket fail` when I checked the `varnishlog`. I'm not sure what it means though since there's no other errors anywhere else. The nginx log is fine and returns a non-empty response.

[code]

[code]

[2015-11-27 20:43] carlalexander opened #41 "Improve multisite management"
Writing the [plugin management](https://github.com/carlalexander/debops-wordpress/wiki/How-to-manage-WordPress-plugins) page made me realize that we don't handle site creation for multisite. There's no way to tell on which site a plugin can be activated because we don't manage them like we do plugins. We need to make some improvements there so that we can pre-create sites using DebOps and WP-CLI.

[2015-12-02 19:15] tobeycodes commented on #12
@carlalexander do you have any idea when we would be able to use this locally with Docker or similar? It's the only thing that holds it back for me, using different dev and production environments.

[2015-12-03 11:37] carlalexander commented on #12
Yep! I'm at WordCamp US this week so won't have time. It's near the top. I just got distracted by all the sweet PRs @ypid sent. :wink:

I also have to look at how I can lock down the DebOps versions. I know @drybjed told me we could do it. I think it's important for something like this. That way we can be sure the container stays consistent.

[2015-12-04 12:46] outerbridge opened #42 "skipping: no hosts matched"
Hi Carl

I've set up several of your configurations before, with your generous help, but it's not working today.  I'm getting multiple "skipping: no hosts matched" messages.

I've tried it on 2 different Macs (1 which has never had debops on it) and a fresh DigitalOcean droplet (Ubuntu 14.04) to see whether it's a Mac thing.  Always get the same problem - below is the output from the DO U14.04 ver

[2015-12-04 12:48] carlalexander commented on #42
Can you try replacing "all_servers" to "debops_all_hosts" in your hosts
file and see if that helps?
On Fri, Dec 4, 2015 at 7:46 AM outerbridge notifications@github.com wrote:

[2015-12-04 13:17] outerbridge commented on #42
Thanks Carl, that solved it.

Cheers
Mike

[2015-12-04 13:17] #42 closed

[2015-12-07 05:59] gopinath93 commented on #14
Hi guys,
I am using ubuntu LTS and nginx server. I have installed varnish. if i run "varnishstat" in terminal. it is showing some process. I am new to varnish. I am trying to install in localhost. is it possible?

Can u help me guys? I am working on it for 2 days but no response. getting the same error :

Error 503 Backend fetch failed

Backend fetch failed
Guru Meditation:

XID: 3

Varnish cache

[2015-12-11 09:50] carlalexander commented on #12
I started doing this with Docker this week. I was exploring the idea that we could run debops inside the container and configure it that way. We'd mount the relevant shares like `/secret` and `/var/www` so that you could gain access to the passwords and such.

This seemed to be better than a standard `docker-compose` setup with container linking. DebOps doesn't seem to mesh very well with that con

[2015-12-11 09:57] drybjed commented on #12
One thing that comes to mind is that I try to not use `localhost` in the playbooks as a host that can be managed. The `localhost` host is expected to be similar to a "self" concept in programming - I use it to refer to Ansible Controller that way, so tasks can be delegated to it safely. Since that `debops.dhparam` task you mentioned somehow fails, I think this might be related.

I would try to cha

[2015-12-11 10:01] carlalexander commented on #12
Yeah, I haven't tried tweaking the parameters. As for not using `localhost`, I'll be honnest and I didn't try to use `127.0.0.1`. :stuck_out_tongue:

I'll give that a try on the next round of testing. I'll also add some default variables to reduce `dhparam`.

[2015-12-11 10:27] carlalexander commented on #12
`127.0.0.1` still gave me issues. Does `openssh-server` let you connect to yourself? Not too sure, it's meant to work. That said, `dhparam_bits: [ '512' ]` worked fine! I got to the end, but still got:

[code]

I think something failed. Not sure what. Too tired/sick lol

[2015-12-11 10:34] drybjed commented on #12
Remember that the `debops` script just sets up the environment and starts `ansible-playbook` with a set of options. You could replace the `debops` command by, say:

[code]

When you specify a host in inventory with `ansible_connection=local`, Ansible does not use `ssh` at all.

[2015-12-11 17:24] carlalexander commented on #12
I know that. I didn't use `local` with `127.0.0.1`. It's a bit hard to debug right now, but I think the new issue is because of the `local` connection. I need to check what the default options are for `sshd`. `root` might be blocked.

[2015-12-12 14:31] carlalexander commented on #12
I found the new issue. It seems to be related to this [issue](https://github.com/ansible/ansible-modules-extras/issues/425) with `locale_gen` on Ubuntu. I'm not too sure why the whole thing works on Digital Ocean, but they must do something to their stock image.

[2015-12-13 22:28] carlalexander commented on #12
Resolved the issue by adding `RUN echo "en_US.UTF-8 UTF-8" > /var/lib/locales/supported.d/local` to the `Dockerfile`. The newest issue is with Postfix. I think it might be similar to #26. The service just fails to restart and just throws a "fail!".

I figure it might be hostname related. During `docker-compose build`, the hostname is just uses a random string. It's not a good FQDN. Unfortuntely, r

[2015-12-13 23:32] tobeycodes commented on #12
Appreciate your effort on this.

[2015-12-14 01:21] carlalexander commented on #12
No worries @schrapel! I'm not sure I'm going at it the right way either, but there isn't that much information to go on.

[2015-12-21 06:19] kengsub commented on #14
My website is also like that. Please help me fix it: http://www.kengsub.net

[2015-12-21 19:20] carlalexander commented on #12
Been playing around and testing things. The postfix issue seems to be related to the `Reload postfix` handler. I tried to find out why, but I can't get any logs to show anywhere (mail, syslog, daemon, etc). Ansible tries to restart postfix and it just fails without an error message logged anywhere.

The weird thing I noticed is that `Reload postfix` doesn't do a reload. It does a restart. It must

[2015-12-21 20:10] drybjed commented on #12
It might be because handlers in `debops.postfix` are all over the place... I guess I'll just do "Check and restart postfix" everywhere, that should clear things up a bit.

[2015-12-21 23:17] carlalexander commented on #12
There's only one `Reload postfix`. Submitted a PR! :wink:

[2016-01-11 01:27] carlalexander commented on #12
Was able to get back to this today. Ran into a few issues that I worked around as I went. Here's the major summary.

The first issue was around `debops.sshd`. I got the following error when it runs:

[code]

I figured that, since we're working with `ansible_connection=local`, we could skip it! So I changed the command to `RUN debops --skip-tags role::sshd` and that worked!

I moved on to the next

[2016-01-12 18:40] carlalexander opened #43 "Varnish backend probe broken with SSL"
Documenting an issue found by @outerbridge. He updated to WordPress 4.4.1 and Varnish stopped working for all his sites using SSL. After looking into the logs and some troubleshooting, I found that the issue was that WordPress was now returning 301s from the backend probes. Varnish assumed the backend was sick because of it.

Further troubleshooting made me realize that the probe wasn't sending th

[2016-01-14 08:39] gthapar opened #44 "RuntimeError: autoconf error"
Hello,

I am getting the below error on step 2 of installation (Install Ansible and DebOps).

[code]

What can be the issue?

[2016-01-14 13:15] carlalexander commented on #44
Is it possible that you don't have xcode command line installed? This [issue](https://github.com/ansible/ansible/issues/12354) seems to describe the problem that you're having.

[2016-01-14 13:31] thewebsitedev commented on #44
Yes, I just ran Xcode and it installed some stuff. Didn't open Xcode from a long time. Seems to be working now.

[2016-01-14 13:31] #44 closed

[2016-01-14 14:51] gthapar opened #45 "Failed to upload PKI snapshot to Ansible Controller"
I got this error - `FAILED! => {"changed": false, "failed": true, "msg": "file not found: /var/backups/pki-snapshot-debops-wordpress.tar"}` when I ran the common DebOps playbook. Is this fine? We don't have WordPress yet so I guess that is the reason? Just confirming before I move ahead.

My play recap is `ok=37   changed=20   unreachable=0    failed=1`.

[2016-01-14 16:16] carlalexander commented on #45
What are your configuration options? Also can you try running it with
-VVVV.
On Thu, Jan 14, 2016 at 9:51 AM Gautam Thapar notifications@github.com
wrote:

[2016-01-14 16:26] thewebsitedev commented on #45
ubuntu 14.04.3 x64
$5/mo plan

I followed the steps as mentioned in the wiki. Just replaced [all_servers] with [debops_all_hosts].

I actually went ahead and ran `debops wordpress -u root`. Now I see one of the known errors 'lookup plugin (tsk_src)' .

Should I recreate a droplet or continue with this only and configure the server again by running `$ debops -u root`?

[2016-01-14 16:52] thewebsitedev commented on #45
I just rebuilt my droplet and I am now configuring the server again. This time using -vvvv.

[2016-01-14 16:53] mosamlife commented on #45
You have to run this command in your local machine not remote droplate

[2016-01-14 16:55] thewebsitedev commented on #45
Yes, I am running locally.

[2016-01-14 16:56] thewebsitedev commented on #45
Same error again `FAILED! => {"changed": false, "failed": true, "invocation": {"module_args": {"src": "/var/backups/pki-snapshot-debops-wordpress.tar"}}, "msg": "file not found: /var/backups/pki-snapshot-debops-wordpress.tar"}`

[2016-01-14 16:58] carlalexander commented on #45
You can find the solution to `lookup plugin` issue [here](https://github.com/carlalexander/debops-wordpress/wiki/Known-issues#lookup-plugin-task_src-not-found).

[2016-01-14 16:59] thewebsitedev commented on #45
Yes, but will it fine moving forward with this error?
`FAILED! => {"changed": false, "failed": true, "invocation": {"module_args": {"src": "/var/backups/pki-snapshot-debops-wordpress.tar"}}, "msg": "file not found: /var/backups/pki-snapshot-debops-wordpress.tar"}`

[2016-01-14 17:03] carlalexander commented on #45
I've never seen this error. I'll have to run tests on my end and get back to you. Would it be possible to get more of the text before the error. What step was Ansible on when it failed?

Are you using the default configuration from the wiki?

[2016-01-14 17:09] thewebsitedev commented on #45
This is what I see before the error statement -

`TASK [debops.pki : Upload PKI snapshot to Ansible Controller] ******************
task path: /Users/GT/Library/Application Support/debops/debops-playbooks/roles/debops.pki/tasks/main.yml:55
<thewebsitedev.com> ESTABLISH SSH CONNECTION FOR USER: root
<thewebsitedev.com> SSH: EXEC ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteracti

[2016-01-14 18:40] thewebsitedev commented on #45
I went ahead just to test. The website is working now but I am unable to use ssh. When I use `ssh thewebsitedev.com -l root` I get `ssh_exchange_identification: read: Connection reset by peer`. Debugging shows that it cannot find any of the ssh files.

I will try again from scratch once you provide a fix. :)

[2016-01-15 13:43] drybjed commented on #45
I'm not sure why that upload task would fail... @gthapar, do you have a domain correctly set on the remote host? What do you get when you run:

[code]

You should get your host domain. But still, it should be fine when `debops.pki` even runs.

Anyway, I'm working on a new `debops.pki` implementation, completely redesigned, with ACME and external CA support, and it won't have all of that "snapshot"

[2016-01-17 21:25] carlalexander commented on #45
What do you get when you run @drybjed's command @gthapar?

[2016-01-17 21:31] carlalexander commented on #12
I'm wondering if there's a way to fix the `mariadb_delegate_to` issue. I tried updating the project to pass `mariadb_delegate_to`:

[code]

This didn't work. I replaced `mariadb_delegate_to: '{{ wordpress_database_server }}'` to `mariadb_server: '{{ wordpress_database_server }}'`. That worked, but looking at the `debops.mariadb` code. I'm not sure it'll have the desired effect. I think I'll still

[2016-01-18 10:37] thewebsitedev commented on #45
@carlalexander I tried with a new droplet and domain (ecstem.com).

[code]

I got the above response when I ran @drybjed command. But I am able to login to my server using `ssh root@ecstem.com`.

[2016-01-18 10:40] drybjed commented on #45
@gthapar It might be that the host admin account hasn't been set up yet, ansible is trying to log in to `admin@ecstem.com` account and server is refusing - but that's just my guess. Run the command with `-vvvv` as the comment is suggesting to see the real reason, try to fix it and then see if the domain is correctly set.

[2016-01-18 10:47] thewebsitedev commented on #45
@drybjed shall I post the error message here? I am a total noob with all this server stuff.

[2016-01-18 11:47] drybjed commented on #45
@gthapar Sure.

[2016-01-18 11:48] carlalexander commented on #45
You can post it here. I'm just confused isn't your site at `thewebsitedev.com`?

[2016-01-18 11:54] thewebsitedev commented on #45
@carlalexander as I mentioned here https://github.com/carlalexander/debops-wordpress/issues/45#issuecomment-172493274 I am testing on a new droplet and domain. I shifted the previous domain to another droplet which uses one-click WP install.

Here you go -

[code]

[2016-01-18 11:56] drybjed commented on #45
Can you connect over SSH to `gautam` account?

[2016-01-18 11:58] thewebsitedev commented on #45
do you mean gautam@ecstem.com? I don't think I have ever created such user account.

[2016-01-18 12:00] drybjed commented on #45
My guess is that Ansible is configured to connect to that account by default. You could try and override that like this:

[code]

As for bootstrapping a new host with DebOps, I suggest that you read the [Getting Started with DebOps](http://docs.debops.org/en/latest/debops-playbooks/docs/guides/getting-started.html) guide.

[2016-01-18 12:15] thewebsitedev commented on #45
@drybjed I ran your command and it appeared as success. But at the bottom it showed `"changed": false`.

I ran `debops -u root` again but unfortunately I got the same error.

[code]

[2016-01-18 12:20] drybjed commented on #45
@gthapar I have got reports from other users about the same error. Would you like to test the new version of the `debops.pki` role available in [this PR](https://github.com/debops/ansible-pki/pull/33)? Do you use Ansible 2.0? Alternatively, you could check if Ansible 1.9.4 works OK.

[2016-01-18 13:38] thewebsitedev commented on #45
Yes, ansible 2.0.0.2 is what I see installed. Removed 2.0 and installed 1.9.4. Now I don't see the error. :)

@drybjed I am not very comfortable with all this yet so without any kind of documentation it will be a bit hard for me to try something.

[2016-01-18 13:50] drybjed commented on #45
@gthapar OK. I'll try to write some documentation for the new role soon. :-)

[2016-01-18 14:16] ejamesc commented on #22
Can confirm this issue is happening for me as well. Attempting to debug.

[2016-01-18 14:32] #45 closed

[2016-01-18 17:18] carlalexander commented on #22
Can you post the config file you're using to configure your server?

[2016-01-18 18:56] carlalexander commented on #45
Just got this working on #12 while building a new Docker container. I'll let you know if I find a fix. I still don't get it with a configuration of a DO droplet though.

[2016-01-18 19:14] carlalexander commented on #45
Here's what I get in Docker using `-vvvv`:

[code]

[2016-01-18 19:45] carlalexander commented on #45
I'm thinking it might be a problem with the newest version of Ansible. This is the only difference between my setups. I didn't run into the issue if I downgraded Ansible versions in Docker. You can do it this way:

[code]

[2016-01-18 19:49] thewebsitedev commented on #45
Yes, downgrading worked as mentioned here https://github.com/carlalexander/debops-wordpress/issues/45#issuecomment-172528926.

`sudo pip install ansible==1.9.4` worked just fine. ;)

[2016-01-18 19:51] drybjed commented on #45
I just tried with Ansible 1.9.4 and clean PKI-related stuff, everything works fine... So, can somebody show me output of the `debops.pki` role so maybe I'll notice what might be the issue?

[2016-01-18 20:30] carlalexander commented on #45
I put the output above
On Mon, Jan 18, 2016 at 2:51 PM Maciej Delmanowski notifications@github.com
wrote:

[2016-01-18 20:31] drybjed commented on #45
@carlalexander Well, that's the error message, but it doesn't tell me what happened to see what could be the reason. Seeing all of the `debops.pki` tasks could tell me that. :-)

[2016-01-19 01:11] carlalexander commented on #12
So I managed to get a working container going, but there was a few snags. None of the services were started. I had to connect to the container and start them by hand. This can be fixed with an entrypoint script, but still weird. I thought all the services would start automatically.

I also didn't get the `VOLUME` directive stuff to work. I was hoping to mount the `secret`, `/var/www` and `mysql` f

[2016-01-19 14:01] carlalexander commented on #12
Ok, I did more research. Services aren't supposed to start by default. Because we have so many services to start, the [recommended solution](https://docs.docker.com/engine/articles/using_supervisord/) is to use [supervisor](http://supervisord.org/).

[2016-01-21 19:19] thiagotalma commented on #45
@drybjed any news on this?

I have the same problem on the local machine

[2016-01-21 20:03] drybjed commented on #45
@thiagotalma I tried to reproduce the issue on Ansible 2.0 with the "old" `debops.pki` but for me it works. If you have this problem, can you show me the output of all of the `debops.pki` tasks?

Otherwise I would either wait a bit, or try the new [debops.pki rewrite](https://github.com/debops/ansible-pki/pull/33) I'm currently working on. At the moment it should all work, ACME, rewalls, et al. I'

[2016-01-21 20:35] thiagotalma commented on #45
Ok @drybjed

While you are working I'll let the "pki: False"
Thank you so much.

[2016-01-24 18:27] carlalexander commented on #12
So I got the supervisor setup working and the whole container builds and runs great! With that out of the way, I moved on to mounting data volumes. I thought this would be easy, but it's causing me a lot of headaches.

The culprit is this [longstanding issue](https://github.com/boot2docker/boot2docker/issues/581) with boot2docker on OSX. It's a long read. That said, there was a good solution in it

[2016-01-24 18:44] caramiame commented on #12
I'm not sure if this is helpful to you but I ran across this the other day and in some way it seems like it might apply to this issue, maybe?
https://github.com/gansbrest/dockerfiles/tree/master/php/nginx-fpm-5.3
http://distinctplace.com/infrastructure/2014/09/24/docker-vm-shortcomings-and-how-hodor-can-help/

Docker + Hodor for simple and reliable dev setup

|   |
|   |  |   |   |   |   |   |
| D

[2016-01-24 19:07] carlalexander commented on #12
Thanks @caramiame! I'll take a look at that!

[2016-01-25 20:53] gthapar opened #46 "Setting up SSL"
I need to install SSL on my server. And I am a little confused at the moment. So far what I have done is:

1. Generated `thewebsitedev.csr` and `thewebsitedev.key` files.
2. Bought and activated PositiveSSL certificate through Namecheap. I received the certificate (.crt) file.

As per the documentation I need to enter absolute path to the certificate.crt and certificate.key files. As far as I unde

[2016-01-26 12:15] carlalexander commented on #46
You should only need to run `debops wordpress -u root`. I'm going to amend the documentation.

[2016-01-26 15:14] thewebsitedev commented on #46
Okay, error :(

[code]

what can be the cause? file not found?

[2016-01-26 15:55] carlalexander commented on #46
Could you post your config with the paths to your certificates.
On Tue, Jan 26, 2016 at 10:14 AM Gautam Thapar notifications@github.com
wrote:

[2016-01-26 16:05] thewebsitedev commented on #46
What do you mean by config?

This is what I have in `../debops-wordpress/inventory/host_vars/www.thewebsitedev.com/vars.yml`.

[code]

[2016-01-26 16:58] carlalexander commented on #46
Yep! That's what I meant by config. This looks fine to me. DebOps is supposed to upload those files if those path are correct.

What do you get on your server if you run `sudo ls -l /etc/pki/host/private/` and `sudo ls -l /etc/pki/host/certs/`. Is it empty?

[2016-01-26 17:00] thewebsitedev commented on #46
Yes I checked these earlier and there are no such directories on the server.

[2016-01-26 17:58] carlalexander commented on #46
Hmmm ok. I'm not too sure what else could cause the problem. Both paths seem correct to me (althought the file names are different). The only thing that DebOps does is copy those files to the server and then nginx uses them. The fact that those folders are empty means that the files aren't being copied.

[2016-01-26 18:02] drybjed commented on #46
OK, I guess it's time for me to crash this party... @gthapar, would you be up to trying the new version of `debops.pki` role, which is not merged yet, but there's a [PR of it I'm working on](https://github.com/debops/ansible-pki/pull/33)? It slightly changes how the stuff in `/etc/pki/` works, but should be easier to manage custom external certificates like yours. Here's [an explanation of general

[2016-01-26 18:33] thewebsitedev commented on #46
@carlalexander I ran `debops wordpress -u root` again without changing a single thing. And it worked! I don't know what happened earlier.

@drybjed Okay, if I can help you in any way. I can try this on a new server. Just let me know where to begin.

[2016-01-26 18:40] thewebsitedev commented on #46
@carlalexander What do I need to do after this? My website doesn't seem to work with https.
www.thewebsitedev.com

[2016-01-26 18:49] carlalexander commented on #46
Was it HTTP before? You might need to do some steps to migrate. This is a good guide to follow: https://css-tricks.com/moving-to-https-on-wordpress/

[2016-01-26 18:50] thewebsitedev commented on #46
Just checked, I still can't find those directories you mentioned earlier. Is that fine?

[2016-01-26 18:52] carlalexander commented on #46
Can you copy the content from `/etc/nginx/sites-enabled/varnish.www.thewebsitedev.com.conf` here?

[2016-01-26 18:55] thewebsitedev commented on #46
Okay, here it is..

[code]

[2016-01-26 19:12] carlalexander commented on #46
Yep, the ceritifcates are there in config. What happens if you run `sudo service nginx restart` on the server?

[2016-01-26 19:14] thewebsitedev commented on #46
restart fails

[2016-01-27 03:24] carlalexander commented on #46
Can you run `debops wordpress -vvvv -u root` and post what happens for this step: "Download custom private files"?

[2016-01-27 04:00] carlalexander commented on #32
I'm going to close this for now. We can revisit this at another time.

[2016-01-27 04:00] #32 closed

[2016-01-27 14:51] thewebsitedev commented on #46
Okay, here it is:

[code]

[2016-01-27 16:03] carlalexander commented on #46
Is this with `-vvvv`? I tought Ansible would give more details. :cry:

[2016-01-27 16:10] carlalexander commented on #43
I've done some review of the `varnish` role overall in respect to this ticket and some inconsitencies with Docker for #12. I'm going to rework the role to allow for multiple backends. During this process, I'll add the ability to add custom headers for the probe request which should fix this issue.

That said, I'm also going to disable backend polling for this setup. While backend polling is nice,

[2016-01-27 17:32] thewebsitedev commented on #46
yes using `-vvvv`. I saved the entire output to a different file. So if you need to check I can send it to you.

[2016-01-27 20:08] thewebsitedev commented on #46
So I guess I need to place these files manually now.. ? And maybe configure SSL manually as well.. ?

[2016-01-27 21:17] carlalexander commented on #46
I'd use the paths configured by DebOps, so `/etc/pki/host/certs/www.thewebsitedev.com.crt` and `/etc/pki/host/private/www.thewebsitedev.com.key`. But I don't understand why they're not copying. Both files are on your desktop?

[2016-01-27 21:20] thewebsitedev commented on #46
Yes they are indeed! I even changed the names to match it with `www.thewebsitedev.com`. But don't know it always skips that download task.

[2016-01-27 21:25] thewebsitedev commented on #46
I uploaded these files manually to the locations you mentioned. I then ran `debops wordpress -u root`. But I still cannot access SSL based links like https://www.thewebsitedev.com.

I get

[code]

[2016-01-27 21:28] drybjed commented on #46
@gthapar Do you have IPv6 configured? What shows up when you run `netstat -nlp | grep nginx`?

[2016-01-27 21:31] thewebsitedev commented on #46
I never enabled IPv6 while setting up the server. Below is what I got when I ran `netstat -nlp | grep nginx`.

[code]

[2016-01-27 21:37] drybjed commented on #46
It looks like the `nginx` server wasn't properly restarted yet... I assume that the configuration you pasted above is still in place and certificates are where `nginx` expects them in the config... What happens when you restart `nginx` on the server?

[2016-01-27 21:41] thewebsitedev commented on #46
Restarted nginx.. it didn't fail like previously..

[code]

ran `netstat -nlp | grep nginx` again and I got

[code]

[2016-01-27 22:00] carlalexander commented on #46
This is just so weird! What does `tail /var/log/nginx/error.log` say?

[2016-01-27 22:03] thewebsitedev commented on #46
[code]

[2016-01-27 22:06] drybjed commented on #46
Hmm, interesting. @gthapar, what OS do you use, and what does `dpkg -l | grep nginx` show? As well as `apt-cache policy nginx-full`?

[2016-01-27 22:11] thewebsitedev commented on #46
On server, I selected `Ubuntu 14.04.3 x64`

dpkg -l | grep nginx

[code]

apt-cache policy nginx-full

[code]

[2016-01-27 22:16] drybjed commented on #46
This error is raised when IPv6 is not configured on the host but `ipv6only` is enabled: http://hg.nginx.org/nginx/file/4a71ef1aa36d/src/http/ngx_http_core_module.c#l4129

Looking for a fix...

[2016-01-27 22:18] drybjed commented on #46
@gthapar Try setting in Ansible inventory:

[code]

This should prevent `debops.nginx` from adding `ipv6only=off` automatically in the configuration.

[2016-01-27 22:32] thewebsitedev commented on #46
Okay, under `group_vars` or `host_vars`?

Then I need to run `debops wordpress -u root` again right?

[2016-01-27 22:34] thewebsitedev commented on #46
Ah okay inside hosts file under inventory. Now I need to run `debops wordpress -u root` again?

[2016-01-27 22:41] thewebsitedev commented on #46
Sorry I am confused right now. This is what you mean right?

[code]

[2016-01-27 22:46] drybjed commented on #46
@gthapar Put it in `ansible/inventory/host_vars/<hostname>/nginx.yml`. It's a YAML variable definition.

[2016-01-27 22:57] thewebsitedev commented on #46
And this is on the sever side or my local machine? Sorry, as I said earlier I am a noob with all this server related stuff.

[2016-01-27 22:59] drybjed commented on #46
@gthapar On your local machine, in the same place that the Ansible inventory directory is located. Basically, when you see the `hosts` file, create `host_vars/www.thewebsitedev.com/nginx.yml` file and put the variable there.

[2016-01-27 23:14] thewebsitedev commented on #46
Okay, this is the path to the file on my local machine. Added the variable as well.
`/usr/local/lib/python2.7/dist-packages/ansible/inventory/host_vars/www.thewebsitedev.com/nginx.yml`

Now what I need to do?

[2016-01-28 04:07] carlalexander commented on #43
Just pushed out the changes to the `varnish` role so that there's no more polling. So this shouldn't happen anymore.

[2016-01-28 04:07] #43 closed

[2016-01-28 07:33] drybjed commented on #46
@gthapar I'm confused a bit... Is that path to where you keep your Ansible inventory on the host that Ansible runs from? Anyway, in the `nginx.yml` file, add this content:

[code]

This will tell Ansible that for this particular host, it shouldn't add `ipv6only=off` option in the `nginx` configuration. After that, re-run Ansible and your webserver should restart and listen on `443` port for HTTPS

[2016-01-28 08:25] thewebsitedev commented on #46
I am confused myself.. :)

This is the only Ansible directory on my local machine. I installed Ansible as per the instructions here - https://github.com/carlalexander/debops-wordpress/wiki/Installation#install-ansible-and-debops.

Can you please tell which command I need to run for ansible?

[2016-01-28 08:54] drybjed commented on #46
@gthapar OK, how about this. Put the contents I specified earlier in `~/debops-wordpress/ansible/inventory/host_vars/www.thewebsitedev.com/nginx.yml`. And then, being in that project directory, run `debops -u root`. Does that work?

[2016-01-28 09:20] thewebsitedev commented on #46
This is what I get -

[code]

[2016-01-28 09:24] drybjed commented on #46
@gthapar What command do you use to configure DebOps for WordPress?

[2016-01-28 09:26] thewebsitedev commented on #46
Okay ran again.. `debops -vvvv -u root` and its running right now..

[2016-01-28 09:27] thewebsitedev commented on #46
I used `debops -u root` earlier

[2016-01-28 10:00] thewebsitedev commented on #46
Okay, I get this -

[code]

[2016-01-28 10:02] drybjed commented on #46
@gthapar OK, so, how does the website `nginx` configuration look like now?

[2016-01-28 10:06] thewebsitedev commented on #46
ran `netstat -nlp | grep nginx`

[code]

[2016-01-28 10:08] drybjed commented on #46
@gthapar Yes, I know, I can see that the webserver does not listen on the `443` port. But, show me contents of `/etc/nginx/sites-enabled/*.conf` files, each with the filename please.

[2016-01-28 10:11] thewebsitedev commented on #46
varnish.www.thewebsitedev.com.conf

[code]

www.thewebsitedev.com.conf

[code]

[2016-01-28 10:14] thewebsitedev commented on #46
Don't I need to run `debops wordpress -u root` as well?

[2016-01-28 10:17] drybjed commented on #46
OK, so `ipv6only=off` is still there. @gthapar, did you create the `nginx.yml` file and put the `nginx_manage_ipv6only: False` in it? Where did you create it? Show me the output of:

[code]

The `debops wordpress -u root` command... I guess you could, but it shouldn't be needed at this point. The point is to stop `nginx` from trying to manage IPv6 configuration, which the variable i gave earlier s

[2016-01-28 10:22] thewebsitedev commented on #46
Path to the file:
`/home/gautam/debops-wordpress/ansible/host_vars/www.thewebsitedev.com/nginx.yml`

File content -

[code]

Running `ansible all -m setup -a 'filter=ansible_local'` under project directory gives me -

[code]

[2016-01-28 10:23] drybjed commented on #46
@gthapar Move the file to

[code]

and re-run the `debops -u root` command.

[2016-01-28 10:28] thewebsitedev commented on #46
Oops sorry! missed the inventory folder. :facepalm:

ran `debops -u root` again and it skipped everything.

[2016-01-28 10:29] thewebsitedev commented on #46
skipping: no hosts matched

[2016-01-28 10:29] drybjed commented on #46
@gthapar I dunno, try with `debops -vvvv -u root`. Perhaps that will work?

[2016-01-28 10:30] thewebsitedev commented on #46
same result.. :(

[2016-01-28 10:31] drybjed commented on #46
@gthapar What did you do [that time like an hour ago](https://github.com/carlalexander/debops-wordpress/issues/46#issuecomment-176080524) when it worked?

[2016-01-28 10:31] thewebsitedev commented on #46
I just ran this `debops -vvvv -u root` command.

[2016-01-28 10:32] thewebsitedev commented on #46
I get this -

[code]

[2016-01-28 10:32] drybjed commented on #46
When you run these commands, in which directory do you do this? Run `pwd` and show the result.

[2016-01-28 10:33] thewebsitedev commented on #46
Project directory -
`/home/gautam/debops-wordpress`

[2016-01-28 10:34] drybjed commented on #46
Let's call this directory `$PWD`. What's in `$PWD/ansible/inventory/hosts`?

[2016-01-28 10:36] thewebsitedev commented on #46
there is no hosts directory..

under inventory I have 'host_vars' directory.

[2016-01-28 10:40] drybjed commented on #46
@gthapar Perhaps this is the wrong approach after all, I think we all got confused somewhere.

How about this: read the [Getting Started with DebOps](http://docs.debops.org/en/latest/debops-playbooks/docs/guides/getting-started.html) guide. It should explain where everything should go, it will help you set up a new host with DebOps, or at least give you better overview how the project. After that

[2016-01-28 10:44] thewebsitedev commented on #46
Okay.. I just followed the steps mentioned here - https://github.com/carlalexander/debops-wordpress/wiki/Installation.

Thanks anyways!

[2016-01-29 03:36] carlalexander commented on #13
Now that I have working Docker container. I'm seeing this issue a lot more. It'll be easier to look for a fix.

[2016-01-29 03:57] carlalexander commented on #12
Alright, we're pretty much there! Fixed most of the kinks. The container is pretty barebone compared to VVV. That said, it's almost identical to a production server which was what @schrapel wanted.

This is going to go into its own repo as soon as I have a bit of time to write a bit of documentation.

[2016-01-30 12:33] carlalexander commented on #27
These packages don't seem to update fast enough either. They're three major releases behind (WordPress doesn't use semantic versioning). I'm going to continue with installing using WP-CLI.

[2016-01-30 12:33] #27 closed

[2016-01-30 12:38] carlalexander opened #47 "Varnish plugin "Purge Varnish" button doesn't work"
The "Purge Varnish" button from the [recommended plugin](https://wordpress.org/plugins/varnish-http-purge/) never worked. That's because it requires custom logic to ban all the pages. This is all in their [distributed Varnish configuration](https://github.com/dreamhost/varnish-vcl-collection).

I'm not going to add support by default, but it should be documented in the wiki like for [WooCommerce](

[2016-01-30 17:14] carlalexander commented on #46
I updated the documentation to be clearer about the command to run for existing servers. I'm going to close this since that was the initial point of this issue.

If you find more details about the other issue you had @gthapar , feel free to open a new one!

[2016-01-30 17:14] #46 closed

[2016-01-30 17:16] carlalexander commented on #33
Did some research on this today. My thought is that it would be better to have this at the firewall level using fail2ban. We'd scan the nginx access logs for the reverse proxy and ban based on that.

[2016-02-01 04:03] carlalexander commented on #38
I asked about adding composer to `debops.php5` [here](https://github.com/debops/ansible-php5/issues/11). Until they offer a debian package, we'll have to do this ourselves. I'll have something once I add support for bedrock projects.

[2016-02-01 18:58] carlalexander commented on #33
I'm thinking of three jails:
- One for bad bots using `apache-badbots` filter
- One that checks for excessive POST requests to `xmlrpc.php` and `wp-login.php`
- A generic DDOS that checks for excessive requests (limit to 1 per second)

That last one is the trickiest. Everything is going through the reverse proxy. We need to only check for page requests and maybe ignore assets. Maybe we need to tie

[2016-02-02 12:46] carlalexander commented on #12
To follow up on the Twitter conversation @drybjed, I mentioned the problem with `debops.sshd` [earlier](https://github.com/carlalexander/debops-wordpress/issues/12#issuecomment-170413520). It's still:

[code]

So it's not so much that it doesn't install, but it doesn't install in a way that we can restart the service. This isn't too surprising. I've had to fix a few things in `/run` to work with D

[2016-02-02 22:29] carlalexander commented on #47
So [bans are broken in version 4.0](https://www.varnish-cache.org/trac/ticket/1635). This means that we can't fix this until I update to 4.1.

[2016-02-29 19:56] rukawaxz opened #48 "`TASK [debops.pki : Initialize PKI authorities] *********************************"
I get this error after sending command debops in the terminal.
`TASK [debops.pki : Initialize PKI authorities] *********************************
failed: [46.101.101.63 -> localhost] => (item={u'subdomain': u'root-ca', u'name': u'root', u'subject': [u'o=Ubuntu-worddebo-fra1-01 Certificate Authority']}) => {"changed": true, "cmd": ["./lib/pki-authority", "init", "--name", "root", "--default-sign-bas

[2016-02-29 21:02] drybjed commented on #48
Are you using MacOS X as the Ansible Controller? You need to upgrade the `bash` to at least 4.3 so that the `pki-authority` script will work. It requires associative array support in the shell.

[2016-02-29 22:05] carlalexander commented on #48
I had a workaround for this issue that I was testing. I just committed it. Can you update the project and try again?

[2016-02-29 22:57] rukawaxz commented on #48
I used the brew install bash command to install latest version. Then changed the command path to /usr/local/bin/bash
Still I had error.
I deleted the file and downloaded the project again now I get this error.

fatal: [46.101.101.63 -> localhost]: FAILED! => {"changed": false, "cmd": ["./lib/pki-authority", "sign-by-host", "ubuntu-wordDebo-fra1-01"], "delta": "0:00:00.083553", "end": "2016-02-29 1

[2016-02-29 23:05] rukawaxz commented on #48
`Christians-MacBook-Pro:debops-wordpress christianlaborde$ sudo debops
Password:
Running Ansible playbook from:
/Users/christianlaborde/Library/Application Support/debops/debops-playbooks/playbooks/site.yml ...
[DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and
make sure become_method is 'sudo' (default). This feature will be removed in a
future release. Deprecation warni

[2016-02-29 23:32] carlalexander commented on #48
If you updated bash, you need to restart your terminal window for the
change to take effect.
On Mon, Feb 29, 2016 at 6:05 PM rukawaxz notifications@github.com wrote:

[2016-03-01 13:43] rukawaxz commented on #48
http://prntscr.com/a9tjpo
1) Created Digital ocean server
2) Edited Host file with new ip
3)cd debops-wordpress/
4) sudo debops -u root
5) yes continue
6)
`TASK [debops.pki : Sign certificate requests for current hosts] ****************
fatal: [46.101.235.48 -> localhost]: FAILED! => {"changed": false, "cmd": ["./lib/pki-authority", "sign-by-host", "ubuntu-debo-fra1-01"], "delta": "0:00:00.191360"

[2016-03-01 13:49] drybjed commented on #48
@rukawaxz Try running:

[code]

Which shell do you get? Also, what's the contents of your account `$PATH` variable?

[2016-03-01 14:18] rukawaxz commented on #48
result is
Christians-MacBook-Pro:debops-wordpress christianlaborde$ /usr/bin/env bash
bash-3.2$
Do you mean Christians-MacBook-Pro:~ christianlaborde$ echo $PATH
/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin

On Tue, Mar 1, 2016 at 9:49 AM, Maciej Delmanowski <notifications@github.com

[2016-03-01 14:23] rukawaxz commented on #48
I followed this tutorial to update bash
http://buddylindsey.com/upgrade-bash-to-4-on-os-x/
and this one
http://clubmate.fi/upgrade-to-bash-4-in-mac-os-x/
I must be missing something right?
I also read and followed
http://superuser.com/questions/857250/how-to-update-bash-on-mac-os-x-yosemite
and this one
http://apple.stackexchange.com/questions/193411/update-bash-to-version-4-0-on-osx

[2016-03-01 14:24] drybjed commented on #48
@rukawaxz Could you try moving the `/usr/local/bin` directory to the beginning of `$PATH` variable? This should make the GNU bash be the default one, hopefully it won't break your system too much. You will probably need to re-login to activate the updated shell.

[2016-03-01 15:34] rukawaxz commented on #48
TASK [debops.pki : Sign certificate requests for current hosts] ****************
fatal: [46.101.235.48 -> localhost]: FAILED! => {"changed": false, "cmd": ["./lib/pki-authority", "sign-by-host", "ubuntu-debo-fra1-01"], "delta": "0:00:00.218474", "end": "2016-03-01 11:33:00.131907", "failed": true, "rc": 2, "start": "2016-03-01 11:32:59.913433", "stderr": "./lib/pki-authority: line 77: declare: -g:

[2016-03-01 16:37] carlalexander commented on #48
Can you check that you have the following in `inventory/group_vars/all/vars.yml`:

[code]

[2016-03-01 16:54] rukawaxz commented on #48
# All DebOps defaults are stored here.

# You should overwrite these values in either a group or host vars file.

ntp_timezone: 'Etc/UTC'

pki_internal: False
pki_authorities: []

On Tue, Mar 1, 2016 at 12:37 PM, Carl Alexander notifications@github.com
wrote:

[2016-03-01 17:09] carlalexander commented on #48
Ok, so the workaround doesn't work. I'll have to do more tests tonight.

[2016-03-01 17:17] drybjed commented on #48
@carlalexander I think that I know what's up. The `pki-authority sign-by-host` most likely still tries to sign certificates and fails. @rukawaxz, can you try commenting out this task in the `debops.pki` role and checking if that fixes the problem?

[2016-03-01 17:46] carlalexander commented on #48
I'm not running into any issues with bash 3.2 for some reason. Updated everything 15 minutes ago.

[2016-03-01 17:58] rukawaxz commented on #48
Sorry I am not very technical at this.
Where can I find the file I need to edit?
debops.pki?
/Users/christianlaborde/Library/Application
Support/debops/debops-playbooks/roles/debops.pki there right? I found file with many items inside
but don't know which one I have to edit

On Tue, Mar 1, 2016 at 1:46 PM, Carl Alexander notifications@github.com
wrote:

[2016-03-01 18:03] drybjed commented on #48
@rukawaxz yes, in this directory, in file `tasks/main.yml`, comment out [these lines](https://github.com/debops/ansible-pki/blob/master/tasks/main.yml#L250-L260).

[2016-03-01 18:55] rukawaxz commented on #48
I comment those lines and it ran without errors.
Then I ran debops wordpress and got this error.

TASK [debops.mariadb : Create databases] ***************************************
fatal: [46.101.235.48]: UNREACHABLE! => {"changed": false, "msg": "All items completed", "results": [{"item": {"name": "wordpress"}, "msg": "ERROR! SSH encountered an unknown error during the connection. We recommend you

[2016-03-01 19:02] rukawaxz commented on #48
With -vvvv

`TASK [debops.mariadb : Create databases] ***************************************
task path: /Users/christianlaborde/Library/Application Support/debops/debops-playbooks/roles/debops.mariadb/tasks/manage_contents.yml:12
<ubuntu-debo-fra1-01> ESTABLISH SSH CONNECTION FOR USER: None
<ubuntu-debo-fra1-01> SSH: EXEC ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAu

[2016-03-01 19:23] carlalexander commented on #48
@drybjed Could it be because the server is named `ubuntu-debo-fra1-01`?

[2016-03-01 19:27] drybjed commented on #48
@carlalexander The `debops.mariadb` role uses the host's `ansible_fqdn` variable to delegate the tasks to the MariaDB server if the database is on the same host. If the FQDN is not reachable from the Ansible Controller, you can override that by setting the `mariadb_delegate_to` variable to the host inventory name, that should make it work. Alternatively, fix DNS so that Ansible can reach the remot

[2016-03-01 19:34] carlalexander commented on #48
Ok, I had an issue with that in #12. I need to look at that again. I also found an issue with welcome server because it uses SSL by default.

[2016-03-02 01:00] carlalexander commented on #48
Ok, so looking at `debops.mariadb`, I pass `localhost` to `mariadb_server` by default. This makes it use `ansible_fqdn` for `mardiadb_delegate_to`. I should use  `127.0.0.1` instead right?

[2016-03-02 01:12] carlalexander commented on #47
Pushed a commit that bumped the version to 4.1

[2016-03-02 01:15] carlalexander commented on #48
Made some changes @rukawaxz if you want to update the project

[2016-03-02 10:51] rukawaxz commented on #48
I download project again and got this error.
Here reporting using -vvvv

TASK [debops.mariadb : Create databases] ***************************************
task path: /Users/christianlaborde/Library/Application Support/debops/debops-playbooks/roles/debops.mariadb/tasks/manage_contents.yml:12
<ubuntu-debo-fra1-01> ESTABLISH SSH CONNECTION FOR USER: None
<ubuntu-debo-fra1-01> SSH: EXEC ssh -C -vvv -o

[2016-03-02 13:59] carlalexander commented on #48
Ok, so that didn't work. I'll need to do more tests. In the meantime, you can destroy the DO droplet that you have and create a new one where the hostname isn't `ubuntu-debo-fra1-01`. This should solve the issue instead of waiting for me to find a workaround.

I'll update the Digital Ocean guide too.

![hostname](https://cloud.githubusercontent.com/assets/654684/13462346/f1dbf714-e054-11e5-9063-2b

[2016-03-02 14:50] rukawaxz commented on #48
Still same error.

[code]

[2016-03-02 15:01] carlalexander commented on #48
Ok, I'll run some tests today and get back to you.

[2016-03-02 18:18] carlalexander commented on #48
Ok, I can reproduce the issue with `ubuntu-debo-fra1-01`. I can't reproduce the other issue. That said, I tested www.tiensweb.com. It seems to point to cloudflare and not to Digital Ocean. Is that possible?

[2016-03-02 18:36] carlalexander commented on #48
Any idea why I'm getting a sudo password required error with `delegate_to` @drybjed?

[code]

[2016-03-02 18:45] drybjed commented on #48
@carlalexander It looks like you are delegating to `localhost`, which is Ansible Controller. Do you need to provide password to `sudo` on your system?

What's the value of `mariadb_delegate_to`? Check with a `debug` task.

Check [this variable](https://github.com/debops/ansible-mariadb/blob/master/defaults/main.yml#L107-L119) documentation. I figure that the database is located on the same host as

[2016-03-02 19:16] carlalexander commented on #48
I have `localhost` this time, but I tried with `127.0.0.1` with the same result.

[2016-03-02 19:42] drybjed commented on #48
@carlalexander Are you running Ansible on the same host you want to manage? Is the database server on it?

[2016-03-02 20:27] carlalexander commented on #48
No, I'm not. It's just something I'm testing. Database is on the same server as the web server with a hostname like `ubuntu-debo-fra1-01`. Trying to see what's tripping up `debops.mariadb`.

[2016-03-02 20:46] drybjed commented on #48
OK, so let's take it step by step.

First of all, why this weird setup and why can't it "just work"? The `debops.mariadb_server` and `debops.mariadb` roles work together to allow for MariaDB database to be on a different host than the application you are managing, so that you can for example set up multiple application servers in front of a database accessed remotely. But we still want to be able

[2016-03-02 21:21] carlalexander commented on #48
Ok, this clears things up. I'm still not sure why it doesn't work with `www.tiensweb.com` then.

[2016-03-02 21:51] drybjed commented on #48
From the Ansible output I can see the error:

[code]

Is that host reachable from the Ansible Controller?

[2016-03-02 22:03] carlalexander commented on #48
I'm not sure it is. There's cloudflare in front.

[2016-03-03 10:28] rukawaxz commented on #48
Yes cloudflare is in front of the domain. But I used digital ocean the server IP in the hosts files instead of domain.

[2016-03-03 13:20] carlalexander commented on #48
I've never tested a setup like this. My guess is this is causing issues. Ansible has your server IP because of the host file and that's the right thing to do. The problem is that only applies to the SSH connection.

Ansible is going to check the IP of `www.tiensweb.com` from the server and it'll get the cloudflare IP. That's what's causing the issue. Instead, I'd try something like this:
1. Recrea

[2016-03-03 17:09] rukawaxz commented on #48
TASK [debops.mariadb : Create databases] ***************************************
task path: /Users/christianlaborde/Library/Application Support/debops/debops-playbooks/roles/debops.mariadb/tasks/manage_contents.yml:12
<wordpress.tiensweb.com> ESTABLISH SSH CONNECTION FOR USER: None
<wordpress.tiensweb.com> SSH: EXEC ssh -C -vvv -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentic

[2016-03-03 17:11] carlalexander commented on #48
@rukawaxz `wordpress.tiensweb.com` is still pointing to Cloudflare.

[2016-03-03 17:53] rukawaxz commented on #48
Maybe is better if you could make changes so that it only uses the server
IP without dealing with domain name? I know trellis from root does it that
way.The problem is that domain is not mine. So I am going to try latter
with a domain I have but I would need to wait 24 hours for the DNS to
change.

On Thu, Mar 3, 2016 at 1:11 PM, Carl Alexander notifications@github.com
wrote:

[2016-03-04 01:36] carlalexander commented on #48
I understand. Unfortunately, a lot of DebOps depends on having a valid domain name.

[2016-03-08 18:56] carlalexander commented on #33
We'll also look at writing documentation for integrating with the [wp-fail2ban](https://en-ca.wordpress.org/plugins/wp-fail2ban) plugin.

[2016-03-11 13:10] carlalexander commented on #33
I've been working on this and there are a few issues that I found so far.
- The `wp-fail2ban` plugin doesn't work with HHVM. There seems to be a bug with the PHP `openlog` function which breaks the plugin.
- The default `ssh` jail doesn't work that well because [this issue](https://github.com/debops/ansible-rsyslog/issues/6). This also affects `wp-fail2ban`, but it doesn't matter that much because

[2016-03-11 13:43] carlalexander commented on #33
I also forgot. Another issue is that jails aren't permanent by default. If you restart fail2ban, you lose the bans (although I think they stick in the firewall). I'm thinking that it might be interesting to create a permanent jail for repeat offenders like [described here](https://wireflare.com/blog/permanently-ban-repeat-offenders-with-fail2ban/).

[2016-03-15 10:25] carlalexander commented on #48
Is this still an issue @rukawaxz?

[2016-03-15 10:29] carlalexander commented on #22
I'm going to close this for now. If this is still happening, please reopen with a bit of details so that I can troubleshoot with you.

[2016-03-15 10:29] #22 closed

[2016-03-25 02:41] carlalexander commented on #48
Going to close this, but please reopen if you're still having issues :smile:

[2016-03-25 02:41] #48 closed

[2016-03-27 01:47] zrothauser opened #49 "Failed to template"
I get this error when running `debops -u root`:

[code]

[2016-03-27 02:11] carlalexander commented on #49
This is an error caused by an older version of ansible. You'll need to
update to version 2.0. That should fix it.
On Sat, Mar 26, 2016 at 9:47 PM Zack Rothauser notifications@github.com
wrote:

[2016-03-27 03:35] zrothauser commented on #49
Thanks, that fixed it!

Should this line from the Wiki be updated to install version 2?
https://github.com/carlalexander/debops-wordpress/wiki/Installation#install-ansible-and-debops

[2016-03-27 14:09] #49 closed

[2016-04-02 01:19] khromov opened #50 "Running multiple sites on the same server?"
Is there any support for running multiple sites on the same Debops server? Would be a great feature for smaller sites that still want to leverage all of the niceties Debops for WP offers.

[2016-04-02 15:21] carlalexander commented on #50
We discussed it before in #3 and #32. I don't support it for now because it's hard to do properly. Each site needs to be well isolated so that they don't get cross-contaminated.

I'll leave this open. I'm a bit more open to doing this than before. I've done some custom setups that way and Varnish works fine. It'll just require a lot of rework of the role so that it creates multiple sites, uploads

[2016-04-03 17:21] zrothauser opened #51 "Fails during TASK [debops.mariadb : Create databases]"
I get this error running `debops wordpress -u root`:
[code]

and with the `-vvvv` option:
[code]

[2016-04-03 17:32] carlalexander commented on #51
I think the issue is because your droplet has `ubuntu-zack-rothauser` as its hostname. It's important that you create it with a proper host name as [described in the wiki](https://github.com/carlalexander/debops-wordpress/wiki/Create-a-Digital-Ocean-droplet#creating-your-droplet). If you create one with the hostname `dev.zackrothauser.com`, everything should run fine. :smile:

[2016-04-03 19:09] zrothauser commented on #51
That was the problem, thanks!

[2016-04-03 19:09] #51 closed

[2016-04-03 21:19] carlalexander opened #52 "Create a cookbook for system updates"
Doing system updates isn't mandatory per say. We already handle automatic security updates by default. That said, it might be nice to do a small cookbook for anyone who wants to do system updates.

In practice, it's just running `apt-get upgrade` and then rebooting the server. But maybe we could have a few small precautions, explain that you can power off the machine and take a snapshot with Digit

[2016-04-04 07:30] drybjed commented on #52
You could use `debops.unattended_upgrades` role (included by default in DebOps common playbook) to apply all pending package upgrades and reboot the server **if needed** automatically. It should be safe to do on a Debian Stable system, not sure about other distributions or releases though.

[2016-04-04 10:18] carlalexander commented on #52
I'm a bit hesitant to do that by default. That said, it could be part of the guide as well! :smiley:

[2016-04-04 10:58] #25 closed

[2016-04-05 02:54] carlalexander commented on #33
Just committed a lot of the work for this issue. `debops.fail2ban` is now a role dependency. It adds three jails (on top of the default ssh jail):
- `wordpress-badbots` which bans any badbot accessing the server immediately.
- `wordpress-ddos` which is a crude DDOS jail which bans anyone sending 300 requests (`GET` or `POST`) over 5 minutes. (Comes down to 1 request/sec)
- `wordpress-login` which

[2016-04-05 10:41] carlalexander commented on #33
`wordpress-login` already doing its job. I might need the permanent jail sooner than later since I'm getting the same IP on the bans. I think with the permanent jail, I'll bring the ban time for `wordpress-login` to 10 minutes.

[2016-04-05 12:56] carlalexander opened #53 "Create a cookbook for rsnapshot backups"
I used `debops.rsnapshot` recently and it's easy to setup and works pretty much out of the box. It's probably worth creating a cookbook to explain how to set it up, how to do restores, etc.

[2016-04-07 23:42] carlalexander commented on #33
Added the `wordpress-permanent` jail just now. By default, it'll permaban anyone who receives 10 bans in the span of a week.

This is a much more aggressive type of ban. It bypasses the firewall and bans the user at the routing table level. You have to unban them by hand afterwards since fail2ban won't keep track of the ban in the long term.

I also reduced the ban time for login attempts. It's no

[2016-04-07 23:42] #33 closed

[2016-04-08 22:01] carlalexander commented on #50
So I had a bit of an epiphany about this in the morning and ran some tests just now. The role can create multiple sites on the same server. You need to point a different domain to the same server. That said, you'll need to do some extra configuration by hand.

Here's what I did:
1. Added new blog domain to `hosts` file under `wordpress` group.
2. Created a `host_vars` file for the new domain.
3. M

[2016-04-08 22:24] schrapel opened #54 "LetsEncrypt"
I noticed DebOps has ACME integration. Is this something that can be integrated easily?

https://github.com/debops/ansible-pki/blob/master/docs/acme-integration.rst
https://github.com/debops/ansible-nginx/blob/master/docs/acme-support.rst
http://docs.debops.org/en/latest/ansible/roles/ansible-pki/docs/acme-integration.html

[2016-04-09 01:18] carlalexander commented on #54
I've just started going over all of this recently. For now, I was going to disable the ACME challenge in the vhost config until I could figure things out. I might look at that next while I wait for the Xenial release.

[2016-04-09 11:57] carlalexander commented on #54
Here's another [relevant issue](https://github.com/debops/ansible-nginx/issues/84) related to this.

[2016-04-09 13:51] carlalexander opened #55 "Allow for configurable WordPress ownership"
By default, DebOps configures WordPress around the nginx user `www-data`. This isn't ideal at all. The HHVM and php-fpm pool that WordPress uses should be configured around a different user.

[2016-04-10 02:33] carlalexander commented on #4
First [good article](https://hackertarget.com/defending-wordpress-ossec/) on OSSEC and WordPress that I've found. Digging into it more, there seems to be some major overlap between OSSEC and fail2ban. I'm not sure what fail2ban does currently that OSSEC can't do besides maybe DDOS monitoring.

Meanwhile, OSSEC does come with a lot of WordPress rules built-in. So that's nice. It also does file inte

[2016-04-11 02:22] tobeycodes commented on #53
Can we do daily incremental and weekly full backup with rsnapshot? And multiple servers backup to a single backup server?

Very excited for this. DO image backups is all I've got at the moment

[2016-04-11 02:25] carlalexander commented on #53
Yep, to all of these. It does hourly incremental backups by default if I remember correctly.

[2016-04-11 04:02] #20 closed

[2016-04-11 04:09] schrapel opened #58 "debops.fail2ban fails"
When running debops wordpress -u root I get this error message.

TASK [debops.fail2ban : Configure custom fail2ban actions] *********************
fatal: [test.tobyschrapel.com]: FAILED! => {"failed": true, "msg": "lookup plugin (template_src) not found"}

If I set wordpress_fail2ban_enabled: False it obviously works fine

[2016-04-11 04:12] tobeycodes commented on #58
Spoke too soon. Now I get it here

TASK [debops.nginx : DebOps pre_tasks hook] ************************************
fatal: [test.tobyschrapel.com]: FAILED! => {"failed": true, "msg": "lookup plugin (task_src) not found"}

NO MORE HOSTS LEFT *************************************************************
    to retry, use: --limit @/Users/...../playbooks/wordpress.retry

[2016-04-11 04:13] tobeycodes commented on #58
I most recently updated debops and all the dependencies

[2016-04-11 04:20] schrapel opened #59 "WordPress Setup"
Would you accept a pull request for a wordpress_setup flag that defaults to true.

When it is false it will not install wp-cli, download core, setup the config or install wordpress?

I always go into the var/www/ and rm -rf in the directory before I deploy my git repository anyway.

Or is there a better way to go about it?

[2016-04-11 09:43] carlalexander commented on #58
Can you try [this](https://github.com/carlalexander/debops-wordpress/wiki/Known-issues#lookup-plugin-task_src-not-found) and let me know if you still have the issue? I had someone else upgrade to Ansible 2.1.0 and have this issue come back up.

[2016-04-11 10:08] carlalexander commented on #59
Yep! Makes sense and I'd probably need it for #2 as well!

[2016-04-11 13:01] tobeycodes commented on #58
Damn, I thought this fix was global and I hadn't done it in a while so forgot. I'm sure this is the problem but will double check later

Enviado desde mi iPhone

[2016-04-11 13:21] lchski commented on #59
Doing some work over the weekend in a (currently private) fork, I separated the WP tasks you described (wp-cli, downloading core, etc) into its in Ansible role and playbook. I think that goes a bit against your two-command vision, @carlalexander, but it worked nicely for me.

[2016-04-11 13:24] lchski opened #60 "Default config breaks web fonts in Safari"
Steps to reproduce:

* Set up the project as per normal;
* Visit the WP site running Twenty Sixteen in Safari.

As you’ll see, most of the text doesn’t render at all. This affects the admin area, too.

If you open the web inspector, you’ll see that the there are still requests running. Clicking the “stop” button ends these requests, and causes the fonts to load.

Not sure what this is about, but I

[2016-04-11 13:47] carlalexander commented on #59
I'm not against more roles or playbooks or commands. I just think, in this case, it's more of a setting for the WordPress role itself.

The same way you can use `wordpress_dependencies: false` to disable all role dependencies. You should have a way to disable the automatic installation of WordPress for setups that don't need it.

[2016-04-11 19:35] tobeycodes commented on #59
I just submitted a pull request https://github.com/carlalexander/debops-wordpress/pull/61

I left the task in there to create the directory and set the permissions.

Also the task for setting a cron job. I assume that people are still using WordPress

[2016-04-11 19:36] tobeycodes commented on #59
Actually, now I just realised that if we are going to deploy a Bedrock build the cron URL will be wrong

[2016-04-11 19:36] tobeycodes commented on #58
That fixed it.

[2016-04-11 19:36] #58 closed

[2016-04-11 19:44] carlalexander commented on #59
Yeah, there's already a flag for the cron too I believe.
On Mon, Apr 11, 2016 at 3:36 PM Toby notifications@github.com wrote:

[2016-04-11 20:09] tobeycodes commented on #20
I closed this because the phpseclib library was updated

https://github.com/phpseclib/phpseclib/pull/714

[2016-04-11 22:42] #59 closed

[2016-04-11 22:44] carlalexander commented on #60
I'll run some tests on this and get back to you. I've used Safari before and didn't notice any of this.

[2016-04-11 22:58] carlalexander commented on #59
Just added a variable for the path to `wp-cron.php`.

[2016-04-11 23:00] lchski commented on #60
Cool. If you can’t replicate it and want me to try it again on my end sometime, let me know.

[2016-04-12 21:34] carlalexander opened #62 "Look into default MariaDB server options"
It might be worth the time to investigate the default options for MariaDB. Is there anything we can do to have some better defaults?

The `debops.mariadb_server` options are pretty barebone as well. We might be able to push some of these upstream too. I'll start by running [MySQLTuner](http://mysqltuner.com) and see what it says.

[2016-04-13 02:23] carlalexander commented on #62
Here's the output for `perl mysqltuner.pl --buffers`:

[code]

[2016-04-13 02:32] carlalexander commented on #62
Not every recommendation makes sense. That said, I found the numbers under InnoDB to be a bit high for a 512meg droplet. I found this [SO thread](http://dba.stackexchange.com/questions/62411/is-there-a-rule-of-thumb-regarding-the-size-and-number-of-a-buffer-pool-instance) that discusses some of these values.

I might try adjusting `innodb_buffer_pool_instances` to match the number of cores and ens

[2016-04-13 06:03] drybjed commented on #62
@carlalexander Great, looking forward for the results. These seem like good defaults to put in the main role.

[2016-04-13 09:36] carlalexander commented on #62
Yep, I agree!

[2016-04-13 13:40] lchski commented on #60
Tried to replicate this last night, couldn’t. Closing!

[2016-04-13 13:40] #60 closed

[2016-04-14 23:20] carlalexander commented on #62
[General consensus](https://github.com/major/MySQLTuner-perl/issues/159) seems to be that `query_cache` should be disabled by default now.

[2016-05-04 01:04] carlalexander commented on #47
Finished making all the necessary changes to the Varnish role to support this. I also created a [cookbook](https://github.com/carlalexander/debops-wordpress/wiki/How-to-configure-Varnish) to explain how to get it to work.

[2016-05-04 01:04] #47 closed

[2016-05-04 01:06] carlalexander commented on #10
Finally, got to making a [cookbook for Varnish](https://github.com/carlalexander/debops-wordpress/wiki/How-to-configure-Varnish). There's a section for WooCommerce in there with the default Varnish rules for WooCommerce. I've never built a WooCommerce site so I can't do more testing to see if there's anything else to add.

[2016-05-04 01:06] #10 closed

[2016-05-14 21:07] carlalexander opened #63 "Document how to configure Content-Security-Policy header"
Working on [adding support for security headers](https://github.com/debops/ansible-nginx/issues/111) in `debops.nginx`. But even with the changes, the `Content-Security-Policy` header is hard to configure right and is turned off by default.

The security cookbook should be updated to explain how to configure the `Content-Security-Policy` header. Explain how to setup reporting at to see if a policy

[2016-05-16 17:13] carlalexander commented on #54
Just saw [this](https://certbot.eff.org/) today. Is this something we could use @drybjed?

[2016-05-16 18:25] drybjed commented on #54
@carlalexander CertBot is just the official Let's Encrypt client with a changed name.

The official Let's Encrypt way of handling things is not sufficient enough for what different applications require. With `debops.pki`, you also have covered OCSP support, custom Diffie-Hellman parameters, support for external and internal certificates in addition to Let's Encrypt, and so on, and so forth... I me

[2016-05-16 18:29] carlalexander commented on #54
No, I wasn't sure how this fit in the overall picture lol

[2016-05-16 19:31] drybjed commented on #54
Well, for super short explanation: when you add a host to `[debops_all_hosts]` with the default DebOps playbooks you should get a working internal certificates (not signed by any "trusted" CA), as long as you have a properly configured domain (`ansible_domain` not empty).

If you enable `debops.nginx` role on a host, on the next run of `debops.pki` it will try to acquire a set of ACME certificates

[2016-05-17 01:54] carlalexander commented on #54
Ok, I'll look into all of that. Will the fact that we use these options cause an issue?

[code]

[2016-05-17 02:01] carlalexander commented on #63
Just added support for the `Content-Security-Policy` header. I made some changes to the default header compared to the `debops.nginx` role. The important difference with WordPress is that you need to use `'unsafe-eval'` and `'unsafe-inline'` since themes and plugins output styles and scripts inline.

[2016-05-17 07:25] drybjed commented on #54
Well, that depends. First, the normal way to get to ACME certificates from Debian base install with a host with `debops.nginx` enabled would be:
1. Run the common playbook, PKI with internal certificates is set up
2. Install `nginx` with internal certificates, enable support for ACME HTTP-01 verification
3. Re-run the common playbook (or at least `debops.pki`) which then requests and obtains the A

[2016-05-22 03:15] carlalexander commented on #54
So having read through everything tonight, I'm still not 100% sure how to proceed. The first step would be to create a PKI realm with ACME enabled. Right now, we use the default `domain` one which has it disabled. What's the correct naming convention for PKI realms? Should it be `{{ ansible_fqdn }}`?

Once that's done, I should just need to change `nginx_pki_realm` to this new realm. We also would

[2016-05-22 09:31] drybjed commented on #54
Let's make a simple example case. You have a domain `blogname.com` which you want to use for your blog. This is an "apex domain", like 'wordpress.com', so you want everything to be inside it, on a subdomain. Your host then will be named say, `alpha.blogname.com`, and you want your blog to be available at `blogname.com` and `www.blogname.com` for convenience, and you pointed all three to your host

[2016-05-22 12:09] carlalexander commented on #54
This is exactly what I needed! Thank you!

[2016-05-23 02:26] carlalexander commented on #54
Started running some tests tonight.  Ran into an issue with the `Download private realm contents by host` task. It fails when I create my new realm because DebOps doesn't create directory for it in the `secret/pki/realms/by-host` directory.

Not sure if this is a valid `debops.pki` issue or not, but I don't want to force anyone to create that directory. It doesn't even look like it's needed.

[2016-05-23 08:05] drybjed commented on #54
The directories can be created automatically by the `debops.secret` role. To feed it proper data, you need to add the `debops.pki/env` role before it. Check [the debops.pki playbook](https://github.com/debops/debops-playbooks/blob/master/playbooks/service/pki.yml) to see how it looks like.

[2016-05-25 04:05] carlalexander commented on #54
Alright, so the `debops.pki/env` works. Tested it tonight. I can't seem to get `acme_subdomain` to work. Here's a test realm config:

[code]

With this config, I'm just looking for a certificate for `dev.carlalexander.ca`.  It doesn't seem to be working.

I get an `error.log` every time in `/etc/pki/realms/carlalexander.ca/acme/`. The error says `couldn't download http://www.carlalexander.ca/.well

[2016-05-25 11:06] drybjed commented on #54
The `www.carlalexander.ca` was added because the `www.` subdomain is set in `pki_acme_default_subdomains` variable. To disable this you can either overwrite that variable with `[]` or add `item.acme_default_subdomains: []` to the realm configuration.

[2016-05-25 11:46] carlalexander commented on #54
So I got it to work with a realm config like this:

[code]

I'll try something like this later:

[code]

But I have a bit of a chicken and the egg problem. I'm still getting the `error.log` with the same error that it can't download the challenge. Meanwhile, nginx won't start because the SSL certificates aren't present.

Shouldn't we get certificates first before the challenges? Are you assuming t

[2016-05-25 12:17] drybjed commented on #54
Yes, this is the chicken and egg issue with should be solved by self-signed certificates. You could also provide external certificates as files, or via a script, internal certificates just fix the problem automatically.

[2016-05-26 20:18] tmuka opened #64 "ImportError: No module named markupsafe"
following the doc here, https://github.com/carlalexander/debops-wordpress/wiki/Configuring-your-server, when i run `root@dev:~/debops-wordpress# debops -u root`

i get
[code]

a bit of searching around led me to find a solution running
`pip install markupsafe`

hope this helps!

[2016-05-26 23:10] carlalexander commented on #64
There's an [issue](https://github.com/ansible/ansible/issues/13570) about that in the ansible project. It's supposed to be a jinja2 dependency. Maybe something broke recently?

I'll leave this open and do some tests.

[2016-05-27 12:57] tmuka commented on #64
cool- thanks for the great project, i'm experimenting with it more today :)

[2016-05-27 18:09] tmuka opened #65 "TASK [debops.mariadb : Create databases] Failed to connect to the host via ssh"
I'm getting stuck here with an ssh connection error in the middle of the db create process. I'm not sure how to troubleshoot this further.  ssh connections to the host work fine both manually, and for the other previous debops steps before this part of the process.

[code]

Is it possible maybe my local ssh-key is an old format or something that would work for ssh but not the maria-db connections?

[2016-05-27 18:19] carlalexander commented on #65
Hey Tony!

What's the name that you gave your virtual machine on cloudatcost?

[2016-05-27 19:08] drybjed commented on #65
Hello.

The `debops.mariadb` role might be somewhat complicated to use in certain setups. Namely, by default it's designed to work in a case where you run Ansible on your workstation and manage the database on a remote host relative to your workstation.

It seems to me that your host `ubuntu` that you are trying to configure does not have a Fully Qualified Domain Name. The `debops.mariadb` server

[2016-05-27 20:23] tmuka commented on #65
thanks for the quick replies!
@carlalexander i was trying to use the ip address since i spun up a new vm today and it got a new ip for my dev.tonymuka.com fqdn i was eventually testing with.  I did put temporarily put the fqdn in my local /etc/hosts file as a shortcut...

@drybjed that sounds like it, i'll give it a another try now that dns is resolving correctly.  I appreciate the doc link too- i

[2016-05-27 21:48] tmuka commented on #65
it looks like i have some more research to do...   my fqdn resolves fine and works, but the ansible test still says UNREACHABLE...  in the following snippet after the test i verify that i can scp to the fqdn with the root user using the ssh-key auth...

[code]

[2016-05-27 21:53] drybjed commented on #65
@tmuka You mentioned that you added the entry for the remote host in `/etc/hosts` - you mean just on the Ansible Controller machine, ie. your workstation? In that case it won't work, because Ansible uses the information from the remote host itself to delegate the task. In other words, the remote host needs to be able to resolve the same FQDN as your Ansible Controller. Try and dig that domain on t

[2016-05-27 22:03] tmuka commented on #65
thanks, @drybjed

correct. i previously removed the ansible controller machine hosts file entry workaround.  the fqdn resolves correctly on the remote and local hosts.  is it possible ansible is caching the old nslookup?

[code]

[2016-05-27 22:10] drybjed commented on #65
Hold on a minute, I just noticed your error message about Ansible unable to connect... Can you show contents of your `ansible/inventory/hosts` file?

[2016-05-27 22:23] tmuka commented on #65
sure, i really appreciate your help on this!

[code]

i didn't have my remote ubuntu vm "hostname" set to match my fqdn, perhaps that is the issue? i just updated that and will try again too.  therefore, where my remote /etc/hosts file had
`127.0.0.1 ubuntu` it now says `127.0.0.1 dev.tonymuka.com`. fingers crossed!

[2016-05-27 22:37] drybjed commented on #65
No, you cannot use the `127.0.0.1 dev.tonymuka.com` that way, let me explay why:

The combination of `debops.mariadb_server` and `debops.mariadb` roles was designed so that you can either use them on the same host, locally relative to the remote host you are managing, or the MariaDB database can be hosted on a different host and accessed remotely. To accomplish that, the roles use `delegate_to` An

[2016-05-27 22:46] tmuka commented on #65
i really appreciate the explanation, i'm excited about this progress!

I arrived at adding the `127.0.0.1 dev.tonymuka.com` hosts file entry when reading help on changing the ubuntu hostname.  I do manage the dns zone, so I commented that out now, and started the ansible tasks again, and it looks like it's working! they're still running, but nginx is running now at http://dev.tonymuka.com/ !!!  th

[2016-05-27 22:58] drybjed commented on #65
Well, it looks like it finished fine. Now it's time to make HTTPS with Let's Encrypt, I wonder how is @carlalexander progressing with that. :-)

[2016-05-27 23:32] tmuka commented on #65
yay!  awesome!  thanks again!  i'd be pumped to see Let's Encrypt support rolled in too!

[2016-05-27 23:32] #65 closed

[2016-05-28 12:23] carlalexander commented on #65
It's coming. lol

[2016-05-30 04:02] andrewgoodnz opened #66 "Fatal Error on TASK [debops.mariadb : Create user accounts]"
All is fine until we get to here - http://screencast.com/t/fGJjcOJTQD

`TASK [debops.mariadb : Drop user accounts if requested] ************************
[DEPRECATION WARNING]: Skipping task due to undefined Error, in the future this will be a fatal error.: [u'{{ wordpress_mariadb_users }}']: [u'{{ wordpress_mariadb_user }}']: {u'state':
u'present', u'password': u'{{ wordpress_database_password }}'

[2016-05-30 11:09] carlalexander commented on #66
Sorry @andrewgoodnz! @drybjed made some updates over the weekend that broke the role. I just pushed the fixes for it.

You'll need to update the project with git. Let me know if it works! 😄

[2016-05-30 11:16] andrewgoodnz commented on #66
Cheers, will try it out!

I have actually got it going by changing that same line to wordpress_mariadb_client: 'localhost'

[2016-05-30 11:47] carlalexander commented on #66
Yeah, but it's likely that the mariadb server wasn't configured properly so the WordPress site won't install.

[2016-05-30 22:14] andrewgoodnz opened #67 "SFTP access to deploy site"
How would you setup  SFTP access to deploy files into /var/www/sitename.com/ ?

We are using Deploybot to handle deployment however I cant access as the right user.

[2016-05-30 23:16] carlalexander commented on #67
I'd create another user for deploys. There's a [wiki article](https://github.com/carlalexander/debops-wordpress/wiki/How-to-manage-additional-users) that should walk you through the process. I found this [docs page](http://support.deploybot.com/article/829-how-do-i-set-up-public-key-authentication-for-sftp-shell-deployments) that explains how to get the public key for DeployBot. You'll probably ne

[2016-05-31 14:14] alveshelio opened #68 "ERROR! the role 'debops.backporter' was not found"
Hi,

I'm getting this error:

ERROR! the role 'debops.backporter' was not found in /root/.local/share/debops/debops-playbooks/playbooks/env/roles:/root/.local/share/debops/debops-playbooks/playbooks/env:/home/debops-wordpress/roles:/home/debops-wordpress/ansible/roles:/root/.local/share/debops/debops-playbooks/playbooks/../roles:/root/.local/share/debops/debops-playbooks/playbooks/roles:/etc/ansib

[2016-05-31 14:20] alveshelio commented on #68
I was able to solve this issue by installing dbops.backporter with this command:
ansible-galaxy install debops.backporter

[2016-05-31 15:20] carlalexander commented on #68
Was this with a fresh install?
On Tue, May 31, 2016 at 10:20 AM Helio Alves notifications@github.com
wrote:

[2016-05-31 15:24] drybjed commented on #68
Looks like a recent change in `debops/debops-playbooks` repository backfired, and some of the roles that are included in the main playbook are not installed correctly. I'll have to fix that soon.

[2016-05-31 15:51] alveshelio commented on #68
Hi @carlalexander,

Yes it was a fresh install. I've launched a server on Digital Ocean and started from scratch.

I am having other issues running this command: debops -u root, I'll create a new issue for this though.

Thanks guys

[2016-05-31 15:51] #68 closed

[2016-05-31 15:56] alveshelio opened #69 "fatal: [mysite.com]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh.", "unreachable": true}"
Hi guys,

When I run command debops -u root I'm getting this error:
fatal: [mysite.com]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh.", "unreachable": true}
PLAY RECAP *********************************************************************
mysite.com                : ok=0    changed=0    unreachable=1    failed=0

TASK: setup -------------------------------------

[2016-05-31 16:41] tzitzigr opened #70 "fatal error: ffi.h: No such file or directory"
Im facing issues during installation and I was wondering if you could take a look at them: http://pastebin.com/dXVBbQt8

[2016-05-31 16:48] ggloveswp commented on #70
Solved this by manually installing libffi-dev package and managed to complete the installation with no issues, except a warning:

[code]

any ideas?

[2016-05-31 16:58] drybjed commented on #68
I've added back the roles that were removed previously, so that error shouldn't happen anymore.

[2016-05-31 18:17] andrewgoodnz commented on #67
Cheers! All working now :)

[2016-05-31 18:20] andrewgoodnz commented on #69
I got this error too at the start, found out i needed to specify the location of the ssh key

`debops -u --private-key=pathtosshkey.pem`

[2016-05-31 18:31] carlalexander commented on #69
Did you setup your DO droplet with a SSH key?

[2016-05-31 18:35] carlalexander commented on #70
This was happening on the server or on your computer?

[2016-05-31 19:17] andrewgoodnz commented on #67
Well almost.. Deploybot connects with the new user "deploy" and is able to create directories but fails when creating/updating files.

`attempt failed with the following server response: "Permission denied: /var/www/site_url.com/wp-settings.php"`

[2016-05-31 19:35] carlalexander commented on #67
Ok, it's because the directory only lets `www-data` write to it. This is still new ground for the project. We have a few tickets open for automating deployments with different solutions. I just haven't gotten to it yet.

For now, a quick workaround is to just login and run `chmod -R 775 /var/www/site_url.com`. This should let DeplyBot do its thing.

[2016-05-31 20:06] ggloveswp commented on #70
on a newly purchased DO Ubuntu 14.04 TLS VPS (x64)

[2016-05-31 20:12] carlalexander commented on #70
Weird, I'm running the latest debops on a DO droplet right now for tests and I'm not getting this. Do you remember which task caused this error to appear? Are you running Ansible on the DO droplet?

[2016-05-31 20:15] ggloveswp commented on #64
Installing markupsafe seems to do the trick for me too, however, when im executing debops -u root again after its installation, i get this error:

Running Ansible playbook from:
/root/.local/share/debops/debops-playbooks/playbooks/site.yml ...
ERROR! the role 'debops.backporter' was not found in /root/.local/share/debops/debops-playbooks/playbooks/env/roles:/root/.local/share/debops/debops-playboo

[2016-05-31 20:17] ggloveswp commented on #70
I just created a new droplet and executed these, after apt-get update:
apt-get install python-pip python-dev git
pip install ansible debops passlib pycrypto
debops-update
git clone https://github.com/carlalexander/debops-wordpress.git

[2016-05-31 20:47] ggloveswp commented on #64
- update: i forced replacement of backporter with this command: ansible-galaxy install debops.backporter --force

and now debops -u root works fine.

[2016-05-31 21:26] carlalexander commented on #70
Right, I think I understand what's going on. With Ansible/DebOps, you want to run the debops script from your computer and not the server. You can read more about it in the [wiki](https://github.com/carlalexander/debops-wordpress/wiki/Installation).

[2016-05-31 21:40] ggloveswp commented on #69
Facing the same issue. Do I need to bundle something in .pem (regarding andrew's response?)
I tried debops -u --private-key=/location/of/file.pub with no luck

[2016-05-31 21:40] alveshelio commented on #69
Hi @carlalexander,

Yes I've added my SSH Key when I've created the droplet.
I actually don't have any .pub file in ~/.ssh folder, should I generate one?

[2016-05-31 21:44] ggloveswp commented on #70
@carlalexander Im interested in using debops mostly for having an automatic install of a perfect hosting combo of WordPress instance on a VPS. Something like LEMP/LAMP automated installation script. Is there any way to do that? Im not interesting in remote functionalities directly from computer.

[2016-05-31 21:52] carlalexander commented on #69
Yeah, that's probably the issue. Ansible will try to use your SSH config in `~/.ssh`.

[2016-05-31 21:55] carlalexander commented on #70
I'm working on a local dev environment with Docker and it runs on the server itself. That said, it's a bit hacky. I'm not sure if it would work in practice. I'm not sure if @drybjed knows a way.

[2016-06-01 01:40] alveshelio commented on #69
Hi @carlalexander,

I'm still having the same problem.

Here's what I did, I've generated an SSH key, I've followed the instructions here: https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

now in /home/root/.ssh, I have two files, id_rsa.pub and id_rsa. I have run this command:
debops -u root --private-key=~/.ssh/id_rsa.pub
but I'm still getting the same er

[2016-06-01 01:44] andrewgoodnz commented on #69
@alveshelio are you able to ssh into server normally?

`ssh -i ~/.ssh/id_rsa.pub root@123.456.789.012`

I was setting up on an AWS EC2 instance which provides the .pem

[2016-06-01 02:06] alveshelio commented on #69
@andrewgoodnz I am able to login with the ssh key. Before I was not but then I've deleted my id_rsa and id_rsa.pub files and I've followed this guide: https://www.digitalocean.com/community/tutorials/how-to-set-up-ssh-keys--2

Now I'm able to connect with the SSH key but I'm still getting the same error :(

[2016-06-01 02:12] andrewgoodnz commented on #69
Does the domain you put in the 'inventory/hosts' file point to the IP of your droplet?

[2016-06-01 02:16] alveshelio commented on #69
Yes it does

I've purchased a domain just to test younik.info and I've pointed it to my DO droplet, in my Digital Ocean Networking panel I've added the domain, when I ping younik.info it points to the server IP. So I guess this is well set up.

[2016-06-01 02:21] andrewgoodnz commented on #69
Can you paste the full output of
`debops -u root --private-key=~/.ssh/id_rsa.pub`

I am running out of ideas here. @carlalexander have you got any other pointers?

[2016-06-01 07:26] drybjed commented on #69
@alveshelio Just to get things out of the way:
- how do you plan to use Ansible, do you want to run it from your own workstation and configure a remote host, or do you want to run Ansible on a remote host to configure it?
- what are the contents of `ansible/inventory/hosts` file?

[2016-06-01 07:51] drybjed commented on #70
You can use DebOps "locally" if you want. Let's just define a few terms to properly understand things:
- "Ansible Controller" is the host that executes Ansible playbooks, the one that you run the `debops` command on. It is usually your own workstation, or a laptop, and you connect to remote hosts over SSH connection. It may have a Fully Qualified Domain Name, but it's not important. It may be reac

[2016-06-01 11:41] carlalexander commented on #69
If you still have to use `ssh -i`,  we haven't solved the problem for `debops -u --private-key=pathtosshkey.pem`. You need to be able to connect to your server by running `ssh root@wordpress.example.com`. If you're getting an error there, that's what we need to fix.

[2016-06-01 12:32] alveshelio commented on #69
@andrewgoodnz, this is the output of the command

Running Ansible playbook from:
/root/.local/share/debops/debops-playbooks/playbooks/site.yml ...
[DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make sure become_method is 'sudo' (default).
This feature will be removed in a
future release. Deprecation warnings can be disabled by setting deprecation_warnings=False in ans

[2016-06-01 12:47] drybjed commented on #69
@alveshelio Ah yes, the information that you are running the Ansible playbook on that remote server is cruical. By default, everything is set up to execute over SSH. With your inventory, the host is trying to SSH to itself, and failing.

Read [my comment in another thread](https://github.com/carlalexander/debops-wordpress/issues/70#issuecomment-222918919) to see how you can run Ansible and DebOps

[2016-06-01 16:01] alveshelio commented on #69
Hi @drybjed,

It definitely helped adding ansible_connection=local in [debops_all_hosts]

I didn't know that Ansible needed to be installed in my computer and I was trying to run it in the server. By adding ansible_connection=local it solved my problem.

I'm now trying to run it from my computer but I have python 3.5 and Ansible seems to have a problem with it, so I need to go configure my compute

[2016-06-01 16:05] #69 closed

[2016-06-01 17:53] caramiame commented on #69
read through the links on the two that I followed to do one manually on the command line

[code]

 Does the domain you put in the 'inventory/hosts' file point to the IP of your droplet?—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-03 00:49] carlalexander commented on #54
I finally got Let's Encrypt to work (somewhat). I got it to work by hand, but there's still some issues left to address. I'll document them and work on them next.

By default, nginx doesn't have access to the challenge folder. This was the cause of the redirects to the `acme.{{ ansible_domain }}` redirects. `acme-tiny` puts a file there in mode `640`. This makes it impossible for nginx to read the

[2016-06-03 12:27] carlalexander commented on #67
Did this work?

[2016-06-03 13:55] tigerdencafe opened #71 "Install Error"
we have tried to install DebOps, Ansible on cpanel and plain servers.

But the installation stops due to server requirements.

while trying to login through the debops we are facing errors.

Also we have configured Ansible on plain server. While trying to deploy the wordpress on remote we are facing conflict errors due to pre -installed Mysql and other services.

NO MORE HOSTS LEFT ***************

[2016-06-03 15:56] carlalexander commented on #71
Have you gone through the getting started guide in the [wiki](https://github.com/carlalexander/debops-wordpress/wiki)? What's in your `hosts`file?

[2016-06-03 19:02] carlalexander commented on #70
Have you been able to get this working @tzitzigr?

[2016-06-03 19:08] carlalexander commented on #54
More testing today. I've created a `wordpress_ssl_provider` variable like the one in Trellis. `selfsigned` and `letsencrypt` work. I have to rework the `manual` certificate upload to co-exist with `debops.pki` better.

I wasn't able to find a workaround to the file permission issue. There's an [issue](https://github.com/diafygi/acme-tiny/issues/33) and a [thread](https://community.letsencrypt.org/

[2016-06-03 19:55] ggloveswp commented on #70
@carlalexander thanks for the followup. Unfortunately no. It seems too complex for my needs. I just need an auto LEMP setup script with enchanced functionality. It seems that your project needs also client-work which if client is based on Windows, its really a pain.

[2016-06-03 20:07] drybjed commented on #54
Why wait a few weeks? :-)

For the file/directory permission issue - the `/srv/www/sites/acme/public/.well-known/acme-challenge/` directory [is created by debops.pki role](https://github.com/debops/ansible-pki/blob/master/tasks/acme_tiny.yml#L46-L66) with `0755` permissions, so `www-data` user should be able to read its contents. You can also check this by running command:

[code]

Another matter

[2016-06-03 20:23] carlalexander commented on #70
Yeah, it's harder on Windows :( Will close this.

[2016-06-03 20:23] #70 closed

[2016-06-03 20:43] carlalexander commented on #54
This is what I did yesterday. `acme-tiny` creates the challenge with `640` as the file permissions. Doesn't matter if the folder was `755`. The ticket and thread discuss this issue. The `acme-tiny` author said you can edit the script if you want, but he won't change it.

As for the realm issue, I figured this what you wanted to do. The only issue is that let's say someone is using a `manual` provi

[2016-06-03 21:02] drybjed commented on #54
OK, I've looked at the Let's Encrypt thread, and the issue might be wiith the restrictive `umask` set by the `pki-realm` script. This might be changed for the `acme-tiny` execution [around here](https://github.com/debops/ansible-pki/blob/master/files/usr/local/lib/pki/pki-realm#L1013). If you want to test it, [add similar code](https://github.com/debops/ansible-pki/blob/master/files/usr/local/lib/

[2016-06-03 21:12] carlalexander commented on #54
`manual` is just what I want to use to upload custom certificate using `private_files`. I'll look at the umask stuff and report back!

[2016-06-03 22:12] alveshelio opened #72 "How to access Wordpress Password and MariaDB password"
Hi guys,

I've finished the installation and everything is working fine, however I'm having some trouble getting the password for Wordpress admin and mariadb.

in the doc it says that to retrieve the admin password I should go here:
secret/wordpress/younik.info/credentials/admin/password
And for mariadb
secret/mariadb/younik.info/credentials/wordpress/password

I'm not sure whether or not I need t

[2016-06-04 12:06] carlalexander commented on #72
It's the path based on the root of the project. It's not a URL :)

[2016-06-04 14:38] alveshelio commented on #72
@carlalexander 👍  thank you very much.

[2016-06-04 14:41] #72 closed

[2016-06-05 02:22] aelsharawi opened #73 "Varnish SSL"
hI

varnish doesn't work for SSL the only way is to put something in front, I had my setup using haproxy.

what do u think?

[2016-06-05 02:26] aelsharawi opened #74 "varnish woocommerce documention"
your varnish setup misses the wocommerce cookie settings:

here

https://docs.woothemes.com/document/configuring-caching-plugins/

[2016-06-05 02:44] carlalexander commented on #73
This setup uses nginx to do SSL termination. I think HAProxy is great, but it's a bit overkill here. :smile:

[2016-06-05 02:44] #73 closed

[2016-06-05 02:55] carlalexander commented on #74
Good catch! I noticed a small issue with the `varnish` role so I can't update the wiki right away.

[2016-06-05 12:58] aelsharawi opened #75 "help: ssh from vm into another vm"
Hi

I need help to best do this, as my mac phytone install is damaged.

Im using google cloud compute and al the instance shall see each others, but when I start "debops -u root" it cant ssh to the other instance? any advise?

[2016-06-05 13:50] carlalexander commented on #75
If I understand correctly, what you need to do for this is:

1) Setup a SSH key on your first Google cloud instance. (the one you're running `debops -u root` from)
2) Make sure that you added the SSH public key from that instance to the authorized keys for the `root`account on the second instance.
3) Make sure you can login as root with SSH on the second instance.

Unfortunately, I don't have much

[2016-06-06 00:18] carlalexander commented on #54
Made changes to the old code for the `manual` provider. I made it work with the new WordPress PKI realm that the role creates. I just need to test the `umask` change for the `pki-realm` script. What umask would you use @drybjed?

[2016-06-06 06:32] drybjed commented on #54
@carlalexander You can try `umask 022`.

[2016-06-06 11:26] andrewgoodnz opened #76 "debops.mariadb : Create databases Fail"
On a new server I am getting the following....

`TASK [debops.mariadb : Create databases] ***************************************
failed: [www.fqdn.com.au] (item={u'name': u'wordpress'}) => {"item": {"name": "wordpress"}, "msg": "Failed to connect to the host via ssh.", "unreachable": true}
fatal: [www.fqdn.com.au]: UNREACHABLE! => {"changed": false, "msg": "All items completed", "results": [{"_an

[2016-06-06 11:29] andrewgoodnz commented on #67
Yea it worked although maybe not the nicest solution. I needed to add a few scripts to run before and after the code deployment.
1. Do chmod as you suggested
2. deploy code
3. chown all files to www-data:www-data (the deploy user creates files as itself which cant be read)
4. chmod back to "normal" (755 for dirs, 644 for files)

[2016-06-06 11:29] #67 closed

[2016-06-06 11:35] carlalexander commented on #76
If you've updated debops recently, @drybjed made a breaking change to `debops.mariadb` and `debops.mariadb_server`. I made updates to the project to support it, but you had the ticket for that issue. 😉

That said, I'm not sure this is the issue here. Did you see this [issue](https://github.com/carlalexander/debops-wordpress/issues/65) by any chance? `debops.mariadb` needs `www.fqdn.com.au` to be a

[2016-06-06 11:58] andrewgoodnz commented on #76
Thanks @carlalexander, yes I thought a few more changes had been made since that last ticket :)

Reading through the other issue now, the fqdn is already pointing toward the IP address so shouldnt be an issue here?

just ran `debops wordpress -u ubuntu -vvvv` and in that same place it shows the following. Bit concerned about the first part `ESTABLISH SSH CONNECTION FOR USER: None` all the other ta

[2016-06-06 16:50] carlalexander commented on #76
Thanks! Project still has some rough edges, but I really want it to be easy to use. Good support is part of that. 😄

I realized you were sanitizing the fqdn, but I wasn't sure if you were giving Ansible just an IP or something else. The user `None` is weird. I can't remember if it did that before.

I'm seeing that @drybjed did more changes to the role since I fixed things. It's possible that somet

[2016-06-07 00:25] aelsharawi commented on #75
i faild in vm,

my local mac shows this error

`ERROR! Unexpected Exception: (setuptools 1.1.6 (/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python), Requirement.parse('setuptools>=11.3'))`

[code]

[2016-06-07 01:08] carlalexander commented on #75
What command caused this error?
On Mon, Jun 6, 2016 at 8:25 PM aelsharawi notifications@github.com wrote:

[2016-06-07 08:49] aelsharawi commented on #75
$ debops -u root

[2016-06-07 09:20] aelsharawi commented on #75
the full error

`
ERROR! Unexpected Exception: (setuptools 1.1.6 (/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python), Requirement.parse('setuptools>=11.3'))
the full traceback was:

Traceback (most recent call last):
  File "/usr/local/bin/ansible-playbook", line 73, in <module>
    mycli = getattr(**import**("ansible.cli.%s" % sub, fromlist=[myclass]), myclass)
  File "/L

[2016-06-07 10:28] carlalexander commented on #75
Found [this question](http://stackoverflow.com/questions/36958125/ansible-roles-packages-ansible-galaxy-error-on-instalation-mac-osx) on Stack Overflow. Can you try running this? `pip install --upgrade setuptools --user python`

[2016-06-07 11:45] carlalexander commented on #76
Alright, I updated everything, but everything was already pretty much up-to-date. I didn't run into any issues. Here are a few potential things we can look at.
- Are you using any special host specific configuration?
- Can you confirm that  `debops.mariadb` uses variables with two underscores in `roles/wordpress/meta/main.yml`? (e.g. `mariadb__users`)

[2016-06-07 11:59] carlalexander commented on #26
Not sure this is much of an issue anymore. We need `debops.mariadb` to have a valid FQDN to work so this shouldn't be an issue ever.

[2016-06-07 11:59] #26 closed

[2016-06-07 12:03] carlalexander commented on #62
The defaults added to `debops.mariadb_server` were really the important ones here.

[2016-06-07 12:03] #62 closed

[2016-06-07 13:15] aelsharawi commented on #75
now have this error

[code]

[2016-06-07 23:43] carlalexander commented on #75
Can you try [this](https://github.com/carlalexander/debops-wordpress/wiki/Known-issues#lookup-plugin-task_src-not-found)? It's an issue that can still happen today. Also can you see `debops.iscsi`under `/Users/qqqqq/Library/Application Support/debops/debops-playbooks/roles`?

[2016-06-08 14:47] aelsharawi commented on #75
debops.iscsi

is not found under
 /Users/qqqqq/Library/Application Support/debops/debops-playbooks/roles

I started to give up this, however, Im eager to try your setup.I hope the google cloud vm setup. I will tery another MacBook another time.

[2016-06-08 17:36] aelsharawi commented on #75
It worked, when , I started with the debos install and update from the very first step

[2016-06-08 17:36] #75 closed

[2016-06-08 23:14] aelsharawi commented on #54
Great job on this everyone, any ETA about let's encrypt implementation?

[2016-06-08 23:37] andrewgoodnz commented on #50
This would be great once secured :) We run a number of WP sites for clients and there are huge benefits and economies of scale to securely run many sites on a single server.

[2016-06-08 23:47] aelsharawi opened #77 "help; error at the end of install"
I got this error;
[code]

what I did is run the 2 commands using the "google cloud ssh username"

sudo debops -u myusername

at first install was interupted, and I started it from the start, on the same vps

[2016-06-08 23:49] aelsharawi commented on #77
this error happens when running the WordPress command

[code]

[2016-06-09 02:31] carlalexander commented on #77
It's impossible for me to read this... 😦  Could you try using the larger code block code? Or take a large screenshot?

[2016-06-09 02:32] carlalexander commented on #54
I'm 90% done, but I'm leaving on vacation Friday. Not sure, I'll have time to tackle it before then.

[2016-06-09 08:42] aelsharawi commented on #77
I have used the large code block would that be good?

[2016-06-09 11:31] carlalexander commented on #77
I'm seeing a lot of access denied errors. Is it possible the user your connecting with can't install `mariadb-server`? I'm not sure if this isn't an issue with Google Cloud either. I don't have experience with it.

Is mariadb installed on the server if you connect to it? What happens if you do `sudo service mysql status`?

[2016-06-13 23:08] cezarneaga opened #78 "fails to complete"
running `debops -u root` throws an error:

[code]

[2016-06-14 03:33] carlalexander commented on #78
1) This is due to a [new change](https://github.com/debops/ansible-pki/pull/61) in `debops.pki` that came in 2 days ago. Right now, the only workaround would be to install an updated bash version using homebrew. I'll need to do a PR for it, but I'm on vacation in Spain at the moment.

2) This is a known issue with macOS. You can refer to the workaround [here](https://github.com/carlalexander/debop

[2016-06-14 07:51] setroot commented on #50
Why not use WP Multisite?

[2016-06-14 08:18] andrewgoodnz commented on #50
Multisite is not always a good option. For our use case we would be hosting multiple Single sites.

[2016-06-14 09:18] setroot commented on #50
This is all possible with Multisite.

[2016-06-14 11:57] cezarneaga commented on #78
ok. cool.
have fun in your holiday. eat a chuleton for me too. :)

once you are back and find a fix would love to have a chat. i encountered a lot of issues and maybe we can find some solutions together.
best,
C

[2016-06-14 14:20] carlalexander commented on #78
There should be a fix for the first problem already if you run debops-update.
On Tue, Jun 14, 2016 at 1:57 PM Cezar Neaga notifications@github.com
wrote:

[2016-06-14 18:07] andrewgoodnz commented on #50
@whosjose Thanks for your feedback and input to this issue.

[2016-06-14 21:00] carlalexander commented on #50
My preference isn't to use such a setup, but I plan on supporting it in some capacity. I still need to work through the remaining issue around creating a unique user for the PHP process. Once we do that, we'll just need some documentation. The workaround above should work in the meantime.

[2016-06-15 15:44] cezarneaga commented on #78
Solved it. the fix worked.

[2016-06-15 15:44] #78 closed

[2016-06-15 19:09] carlalexander commented on #76
Are you still having issues?

[2016-06-15 19:09] carlalexander commented on #71
Have you gotten this working?

[2016-06-15 19:19] tigerdencafe commented on #71
hi we went through the wiki, and followed the steps but we have not found a solution to the same yet we get the same error

[2016-06-15 20:52] drybjed commented on #71
Hello. I'm afraid that the issue might be CPanel interfering with deployment somehow. DebOps is designed to be deployed on minimal Debian installs, other configurations are not really tested.

Although the above error messages just indicate that "there was an error". Is there something else before that which could help with debugging? Also, in Ansible inventory, is your host included at least in t

[2016-06-16 14:13] cezarneaga opened #79 "want to install this on aws with aws-cli package installed."
Hi Carl,

could you make a wiki page on how to add other packages to the installation?
in particular i need to be able to connect the ec2 instance to s3 and for that i need aws-cli. was also thinking of installing phantomjs for above the fold inline css

best,
C

[2016-06-16 14:44] cezarneaga commented on #79
running `debops -u ubuntu --private-key=...` goes well
somehow `debops wordpress -u ubuntu --private-key=...` fails on

`TASK [debops.mariadb : Create databases] ***************************************
failed: [aws.cezarneaga.eu] (item={u'name': u'wordpress'}) => {"item": {"name": "wordpress"}, "msg": "Failed to connect to the host via ssh.", "unreachable": true}
fatal: [aws.cezarneaga.eu]: UNREAC

[2016-06-16 16:07] cezarneaga commented on #76
have the same `ESTABLISH SSH CONNECTION FOR USER: None` issue

[2016-06-16 20:17] bjornoss commented on #76
Hi
I also had the same problem and I use a non-standard SSH port on the host. This is usually not a problem when running playbooks, but it seems that `delegate_to` is not using the SSH port from the var `ansible_ssh_port`?
The solution was to update the SSH `config`on the **control machine**:

[code]

When I ran the playbook again it worked.
@drybjed: is this a problem related to ansible `delegate

[2016-06-16 20:51] cezarneaga commented on #76
i have 22

[2016-06-17 07:27] carlalexander commented on #79
So this second thing is related to #76? As for the extra package wiki, this is a great idea!

[2016-06-17 09:32] cezarneaga commented on #79
yes, it is related to #76  :)
hope you can help me there

[2016-06-17 09:32] #79 closed

[2016-06-17 13:23] cezarneaga commented on #76
i solved my problem.
on aws the default hostname is something like ip-53-23-23-139
after creating the instance i did the following (verbose for the beginners like me):
`sudo vi /etc/hosts`
entered `[elastic_ip] web.example.com web` as second line under `127.0.0.1 localhost`
then:
`sudo vi /etc/hostname`
entered `web.example.com`

finally
`sudo reboot`

after this i run
`debops -u ubuntu --private-

[2016-06-22 12:14] cezarneaga opened #80 "how does one perform an update on an ansible managed server?"
i tried
sudo apt-get update && sudo apt-get upgrade
but still shows i need updates

best,
C

[2016-06-22 12:17] carlalexander commented on #80
Was there an error? That should be all you need to do.
On Wed, Jun 22, 2016 at 2:14 PM Cezar Neaga notifications@github.com
wrote:

[2016-06-22 12:22] cezarneaga commented on #80
No error but when i log out and back in the same no of updates needed shows up

[2016-06-22 12:53] cezarneaga commented on #80
had to perform reboot on machine.
solved.

[2016-06-22 12:53] #80 closed

[2016-06-22 13:11] carlalexander commented on #76
I'm assuming this is working now?

[2016-06-22 13:12] carlalexander commented on #71
Did you try what @drybjed said  @tigerdencafe?

[2016-06-22 14:26] cezarneaga commented on #76
yes :)
the only thing that is still a bit funky comparing to digital ocean installation is that ubuntu user cannot ftp even if added to www-data group.

[2016-06-22 19:45] carlalexander commented on #76
He doesn't have folder access?

[2016-06-22 20:08] cezarneaga commented on #76
none at all. no. it can view but no write

[2016-06-22 20:15] cezarneaga commented on #76
most annoying on both digital ocean and aws is that if i do website setup stuff eg: download from s3:// or quickly upload multiple files through ssh or browse many pages very quickly (which on this setup i can :) - its 60% faster for me - so thank you) it locks my ip out.

any idea how i can solve this?

[2016-06-22 20:18] drybjed commented on #76
The `debops.ferm` role contains some variables that rate limit SYN connections to the host. You might want to change these parameters or disable them if you feel that they are not high enough for your needs.

[2016-06-22 20:22] cezarneaga commented on #76
thanks @drybjed! i see. could you point me to a page that explains how i perform this?

[2016-06-22 20:24] drybjed commented on #76
Sure, the SYN filtering is configured using [these variables](https://github.com/debops/ansible-ferm/blob/master/defaults/main.yml#L135-L157). Just se the values you want in the Ansible inventory and re-run the role, or the playbook.

[2016-06-22 20:58] tigerdencafe commented on #71
yes i tried @carlalexander what @drybjed  said and he was right it does not work with cpanel server with centos and was giving errors

it worked on ubuntu did not try debain yet, but ubuntu as a webserver ?

thank you very much @drybjed your input helped a lot

[2016-06-22 23:35] carlalexander commented on #71
Awesome, closing! 😄

[2016-06-22 23:35] #71 closed

[2016-06-22 23:58] carlalexander commented on #76
I'll close this since we're not discussing the initial issue anymore. Feel free to open another issue about `debops.ferm` @cezarneaga 😄

[2016-06-22 23:58] #76 closed

[2016-06-23 07:53] cezarneaga opened #81 "debops.ferm and avoid being locked out"
Once changed the role in debops to either
`ferm__filter_syn: False` or
by increasing the limits of the parameters can i run debops -u root on an existing machine?
what would be the right command - --limit ...?

Is there a way to remove rate limitations if the root is creating them through ssh?

what if like me you have a chat plugin installed on the wp installation that pings every 2 seconds. this

[2016-06-23 07:57] cezarneaga commented on #76
sorry. thanks for moderating this to keep stuff clean.

[2016-06-23 10:28] carlalexander commented on #76
Yeah, it's ok. Just doing my best lol
On Thu, Jun 23, 2016 at 9:57 AM Cezar Neaga notifications@github.com
wrote:

[2016-06-27 00:51] carlalexander commented on #81
I believe you can run something like `debops -u root --tags role::ferm`. This should only run the `debops.ferm` role. You use `--limit` for targeting a specific host or set of hosts.

As for the rate limitations, @drybjed might know. I haven't done any rate limitation from the firewall.

[2016-06-27 08:38] drybjed commented on #81
You can execute specific roles via their service playbooks by specifying the playbook as the first parameter of the `debops` command. For example to run only the `debops.ferm` role, you can use:

[code]

Only the first parameter is checked, so the order is important.

You can configure the ICMP rate limits in the `debops.ferm` role, [using these variables](https://github.com/debops/ansible-ferm/bl

[2016-06-27 12:24] cezarneaga commented on #81
Thanks so much guys. Will give this a shot

[2016-06-28 11:19] tobiasmuehl opened #82 "Wiki inconcistency between Table of contents and actual content"
On the [recommended plugins page](https://github.com/carlalexander/debops-wordpress/wiki/Recommended-plugins) 4 plugins are listed in the table of contents, but only 3 exist in the wiki page.

Since Responsive Images are built into WordPress, the 4. plugin item can be removed from the table of contents.

[2016-06-28 12:29] carlalexander commented on #82
Good catch! Fixed!

[2016-06-28 12:29] #82 closed

[2016-07-03 23:12] carlalexander commented on #54
Just pushed the reworked integration with `debops.pki`. This includes support for ACME (e.g. Let's Encrypt) and selfsigned certificates. If you put `wordpress_ssl: True`, the new default is to create an Let's Encrypt certificate.

Only thing left is to update all the documentation in the wiki. I'll try to tackle it this week.

[2016-07-04 05:57] schrapel commented on #54
Great work as usual Carl

[2016-07-04 21:12] tobeycodes commented on #54
@carlalexander I'm getting `ERROR! 'pki_env_secret_directories' is undefined` when using `wordpress_ssl: True`

[2016-07-04 21:26] carlalexander commented on #54
Is DebOps up to date? It's supposed to be generated by pki/env on the
previous step.
On Mon, Jul 4, 2016 at 5:12 PM Toby Schrapel notifications@github.com
wrote:

[2016-07-04 21:31] tobeycodes commented on #54
@carlalexander I ran `sudo debops-update` before trying this. I'll try it again

[2016-07-04 21:43] tobeycodes commented on #54
Nope didn't work.

This is in the response of the `debops -u root` but doesn't say ok or anything below

`TASK [debops.secret : Create secret directories on Ansible Controller] *********`

[2016-07-04 22:03] carlalexander commented on #54
Is it when you run `debops -u root` or `debops wordpress -u root`?

[2016-07-04 22:04] tobeycodes commented on #54
@carlalexander it fails on `debops wordpress -u root`

`debops -u root` reports no errors

[2016-07-04 22:07] carlalexander commented on #54
What version of Ansible are you using?

[2016-07-04 22:08] tobeycodes commented on #54
2.0.1.0

[2016-07-04 22:10] carlalexander commented on #54
Can you try updating it and seeing if it works? I'm at 2.0.2.0. Not sure if that's the issue. I committed everything so I'm not sure what's going on.

[2016-07-04 22:17] tobeycodes commented on #54
That seems to have solved the issue. So many dependencies to keep updated. I lose track of it all haha

[2016-07-04 22:18] carlalexander commented on #54
I know sorry!

[2016-07-04 22:43] aelsharawi opened #83 "professional setup and maintainance"
Hi

I'm sorry to post that here, but I need someone to take care of the initial install and minor follow-up of the server, how much this will cost me.

Best.

[2016-07-04 23:49] aelsharawi commented on #77
I have restarted from the scractch

but I used the

`debops -u myusernameatgoogle`

I had this error "attached"

I can give u my admin account if u want.

[2016-07-05 00:21] aelsharawi commented on #77
This happens when installing WordPress, even when entering the retry

[2016-07-05 00:24] aelsharawi commented on #77
@carlalexander , at least we are getting better, wit only 2 errors! I think they are related to google cloud setup being different

[2016-07-05 03:16] andrewgoodnz opened #84 "Cant connect via SSH"
Hi,

Spinning up a new EC2 instance which I am able to connect to using `ssh ubuntu@fqdn.com` however when I run `debops -u ubuntu -vvvv` I get the following:

[code]

DNS is set to point to the correct IP address for the FQDN so struggling to understand whats happening!

Other things I have tried:
- `debops-update`
- Fresh clone of this repo

[2016-07-05 11:28] aelsharawi commented on #84
I had similar errors on using google cloud

solutions:

refresh the domain ip, in case u recently changed that
make sure that the "ubuntu" user can do ssh on a new terminal window

[2016-07-05 12:58] carlalexander commented on #84
Like @aelsharawi said, can you ssh to the server with the `ubuntu` user?

[2016-07-05 12:58] carlalexander commented on #81
Did this work?

[2016-07-05 13:08] carlalexander commented on #77
I'm not sure if @drybjed has ever tested DebOps on Google cloud. Is it a Debian or Ubuntu install?

[2016-07-05 13:16] drybjed commented on #77
No, I haven't tested DebOps in any cloud environment apart from Digital Ocean, and that for a short while.

This seems to be an issue related to AppArmor on Ubuntu and the `/etc/ntp/ntp.conf` file. There was [a similar issue reported for debops.ntp](https://github.com/debops/ansible-ntp/issues/10) some time ago. Going further, there's [this issue in Ubuntu](https://bugs.launchpad.net/ubuntu/+sourc

[2016-07-05 13:19] drybjed commented on #77
I suppose that switching to the default NTP server on Ubuntu could solve this issue on the DebOps side. It looks like on Xenial, `systemd-timesyncd` is the default, which is supported by `debops.ntp` role, not sure about older releases yet. @aelsharawi, can you check what NTP service does that VM use by default?

[2016-07-05 16:35] cezarneaga commented on #81
Haven't applied it yet.

[2016-07-05 17:27] aelsharawi commented on #77
Hello, the server is ubuntu,

I don't know how to do this indeed, I can give admin access if anyone willing to help or; can you provide paid service for setup? Even the Manual install?

[2016-07-05 17:36] drybjed commented on #77
@aelsharawi I'm not sure if `debops-wordpress` will work on Debian instead of Ubuntu, but DebOps itself definitely should (it's the target platform). Could you try with the Debian 8 image available on Google Cloud?

[2016-07-05 18:35] andrewgoodnz commented on #84
Yes, I am able to successfully login using `ssh ubuntu@fqdn.com`

[2016-07-05 21:50] tobeycodes commented on #54
@carlalexander how do you suggest handling www here? If it points to the same server the certificate is only valid for the non-www from the hosts file

[2016-07-05 21:54] carlalexander commented on #54
If ansible_domain matches wordpress_domain, www sub domain is added by
default. Otherwise, you need to add it yourself.
On Tue, Jul 5, 2016 at 5:50 PM Toby Schrapel notifications@github.com
wrote:

[2016-07-05 22:05] tobeycodes commented on #54
Thanks. I've added it myself

[2016-07-06 07:35] cezarneaga commented on #81
Hi,

just ran the command. worked fine. will report back later if it worked. not sure how i could check on server if things were applied, except by trying to bust it again.

i did a loader.io test now with 1000 clients per minute and it was incredible. see below.
![test](https://cloud.githubusercontent.com/assets/645227/16610660/f074228c-435c-11e6-80de-a4c4e413099c.png)

cheers,
C

[2016-07-06 11:20] carlalexander commented on #81
Sweet! Smallest DO droplet?
On Wed, Jul 6, 2016 at 3:35 AM Cezar Neaga notifications@github.com wrote:

[2016-07-06 13:40] cezarneaga commented on #81
nope, this is the AWS ubuntu (m3.medium) where i have issues that ftp doesnt work. so far i think its because aws doesnt allow root user but ubuntu and your setup works differently. but i digress. :) yet again.

[2016-07-08 23:34] carlalexander commented on #54
Just finished updating the [wiki](https://github.com/carlalexander/debops-wordpress/wiki/How-to-secure-your-WordPress-site). Closing this. Thanks again for all the help @drybjed!

[2016-07-08 23:34] #54 closed

[2016-07-11 00:12] carlalexander commented on #55
Because HHVM doesn't work using pools. I'm going to hold off on this until the PHP7 migration.

[2016-07-19 01:50] carlalexander commented on #83
I'm not sure this is the best place to ask for this... Not sure anyone has the time. 😞

[2016-07-19 02:07] carlalexander opened #87 "Migrate to Xenial/PHP 7"
Xenial has been out for a few months. The first point release is about to come out which will make it the official LTS version at that point. I'm going to look at migrating the entire project to it. This change to Xenial will bring a few big changes:

### Drop HHVM support for PHP 7.

PHP 7 is the default PHP version on Xenial. Since it performs as well as HHVM, but is more stable. We're going to

[2016-07-20 20:48] tobeycodes commented on #87
Very excited for this.

[2016-07-27 23:40] carlalexander commented on #87
On a fresh Xenial machine, Ansible runs into issues since Python2 doesn't come installed like with 14.04. I've documented the issue [here](https://github.com/debops/debops-playbooks/issues/288). We'll see what can be done on the DebOps side and what needs to be handled by us.

[2016-07-28 01:28] carlalexander commented on #87
The debian package for wp-cli is also [broken](https://github.com/wp-cli/wp-cli/issues/3206) on a fresh install of Xenial.

[2016-07-28 02:01] carlalexander commented on #87
Alright, it looks like outside these two documented issues. Everything else worked fine for the playbook.

Blank screen [issue](https://github.com/carlalexander/debops-wordpress/issues/) still seems to be there. So that probably means it's a Varnish issue.

Right now, I can't merge this because both issues are blocking. `wpcli` role could be reverted to not using the Debian package at worst. But t

[2016-07-28 08:15] blindpet commented on #87
The Varnish problem may actually be an Ubuntu 16.04 Varnish package issue related to ipv6. If you specify the ipv4 address to use for Varnish in its systemd script then supposedly the ipv6 issue is resolved.

[2016-07-28 12:28] carlalexander commented on #87
As per @drybjed's comment, it seems we need to run `debops.bootstrap` with Xenial. I'll run some more tests tonight.

[2016-07-28 12:29] carlalexander commented on #87
It's not quite that issue @blindpet. The blank page is just that, when you install a plugin, the WordPress page gets stuck.

[2016-07-28 12:30] carlalexander commented on #83
Going to close this sorry @aelsharawi 😞

[2016-07-28 12:30] #83 closed

[2016-07-28 12:31] carlalexander commented on #77
Was this related to #83? Did you get this to work?

[2016-07-28 12:31] drybjed commented on #87
@carlalexander With Digital Ocean, you could look into configuring initial host steps through their API:
- [How To Use Cloud-Config For Your Initial Server Setup](https://www.digitalocean.com/community/tutorials/how-to-use-cloud-config-for-your-initial-server-setup)
- [An Introduction to Cloud-Config Scripting](https://www.digitalocean.com/community/tutorials/an-introduction-to-cloud-config-script

[2016-07-28 12:33] carlalexander commented on #87
I'm sure they do. It's just tricky because it's a step outside Ansible and trying to minimize those right now. 😉

[2016-07-28 12:36] drybjed commented on #87
You can use Ansible to configure a Digital Ocean droplet, using [digital_ocean module](https://www.digitalocean.com/community/tutorials/how-to-use-the-digitalocean-api-v2-with-ansible-2-0-on-ubuntu-14-04). Maybe it has support for `cloud-config` as well, not sure.

[2016-07-29 03:26] carlalexander commented on #87
So running `debops bootstrap -u root` solved the python2 issue. We'll need to add some documentation for that. I think it might be time to start working on our own CLI to streamline all these steps as discussed in #11.

The changes to wp-cli Debian package are going to go in, but they're scheduled for the next major release which could be in a few months. I added the old install method as an alter

[2016-08-03 18:33] #81 closed

[2016-08-05 11:48] carlalexander commented on #87
Just pushed all the changes after some extensive testing this week. I updated the README with the three commands necessary now (we have to `debops bootstrap` first).

Please note that there are some BC breaks. I renamed all the variables to follow the new namespacing standard of DebOps. Check the `UPGRADE-0.3.md` document for details.

I'll need to update the documentation closer to when I tag a n

[2016-08-06 10:45] schrapel opened #88 "Disable access to website via IP address"
If we have specific a domain we shouldn't be able to see the site via it's IP address

[2016-08-06 15:09] carlalexander commented on #88
Can you give me a bit more context. Are you trying to limit access to a specific IP only? Or is it the opposite? Everyone can see except this one IP?

[2016-08-06 15:27] tobeycodes commented on #88
If my host is tobyschrapel.com when I visit the servers ip address it should not load tobyschrapel.com

[2016-08-06 15:38] carlalexander commented on #88
But it loads for everyone else?

[2016-08-06 15:40] tobeycodes commented on #88
It loads for everyone. E.g.

https://45.55.208.66/

[2016-08-06 15:41] carlalexander commented on #88
Ohhhhhhhh! I wasn't even thinking the same thing lol! Got it.

[2016-08-15 16:16] cezarneaga opened #89 "can/should we use ubuntu 16.04.1 LTS?"
Hi Carl,

was wondering if we are to upgrade ubuntu if everything would work well or if you could use some help testing on this?

Cezar

[2016-08-15 16:45] blindpet commented on #89
Ubuntu 16 broke Varnish for me (seems a problem with Ubuntu package) and I had to force an install from the official Varnish jessie repo to get it working.

[2016-08-15 17:03] carlalexander commented on #89
Hey @cezarneaga! I've done a few test runs of it, but I welcome more testing of course! By default, migrating to Xenial might break a few things. Varnish seems to do ok if you remove the old version and reinstall from the Ubuntu repo.

So far, my migration process looks kinda like this:
1. Upgrade to Xenial.
2. `sudo apt-get remove hhvm` to remove HHVM.
3. `sudo apt-get remove varnish` to remove V

[2016-08-15 18:32] cezarneaga opened #90 "php-redis No package available?"
Hi there,

am having a new problem. i searched and couldn't find any similar issues.
[code]
this is the output from `debops wordpress -vvvv`

any idea what happened?
its on ubuntu 14. debops updated, latest repo cloned. all else worked fine
Cheers,
C

[2016-08-15 18:45] cezarneaga commented on #89
Thanks @blindpet & @carlalexander!
Will try this out and get back to you

C

[2016-08-15 18:48] carlalexander commented on #90
Weird never encountered the issue. Package [exists](http://packages.ubuntu.com/source/trusty/php-redis) according to Ubuntu.

[2016-08-16 11:57] AIM-Media-Indiana opened #91 "Error during 'Get list of installed Wordpress plugins"
Hello!

I've run into an error that I can't seem to get past during the second 'phase' of the install.  It's acting like WordPress never fully installed and then it fails while trying to get the list of installed WordPress plugins.  Here's the error message:

TASK [wordpress : Get list of installed WordPress plugins] *********************
fatal: [new.hnedigital.com]: FAILED! => {"changed": false,

[2016-08-16 11:59] cezarneaga commented on #90
tried it now 3 times on new servers. same error.
i installed php-redis manually then re-run. no cigar.
before i lost hope i noticed that roles/wordpress/defaults/main.yml line 339 had php-redis in it

[code]

after making this change it worked. maybe its worth looking into it.

the problem now is i get 502 Bad Gateway after successfully completing :)
Cezar

[2016-08-16 12:02] drybjed commented on #90
Try changing the package name to `redis`, see if that works. If yes, that's the correct solution.

[2016-08-16 12:12] carlalexander commented on #90
Wait, are you using the current master branch on 14.04? You need to use the `v0.2.0` tag  with 14.04. I haven't tested it with the Xenial changes. If anything, I think it'll be broken because I removed the Varnish upstream which means you'll get Varnish 3.

[2016-08-16 12:12] cezarneaga commented on #90
thanks @drybjed !
tried that. it completed successfully but still 502 Bad Gateway

[2016-08-16 12:15] cezarneaga commented on #90
@carlalexander  yes. shouldn't i?

[2016-08-16 12:19] carlalexander commented on #90
No, I didn't maintain BC with 14.04 because there were too many things changing. I tagged a version just before I started working on it. Sorry if that wasn't clear 😞

[2016-08-16 12:22] carlalexander commented on #91
@AIM-Media-Indiana Are you using the `v0.2.0` with 14.04?

[2016-08-16 12:29] AIM-Media-Indiana commented on #91
@carlalexander - I believe so yes.  I ran the following to setup the project on my local machine:

[code]

[2016-08-16 12:58] cezarneaga commented on #90
oh. i see. is tag v2... the right one to use?

[2016-08-16 13:06] carlalexander commented on #91
What happens if you run `wp core install` by hand? I haven't tested anything on AWS. Does AWS have 16.04.1 yet?

[2016-08-16 13:09] carlalexander commented on #90
Yep, try with `v0.2.0`. I switched from `debops.php5` to `debops.php` when I switched to Xenial. And Xenial doesn't have a `php7.0-redis` package yet so I have to specify that one.

[2016-08-16 13:12] cezarneaga commented on #90
now i get this:

[code]

do i need to install certbot first?
C

[2016-08-16 13:23] carlalexander commented on #90
Is this a brand new dropet?

[2016-08-16 13:24] cezarneaga commented on #90
its brand new but on aws.

[2016-08-16 13:50] carlalexander commented on #90
Yeah, I have no experience with AWS sadly. I'd have to try to setup an
account. I know the branch worked on DO two weeks ago.
On Tue, Aug 16, 2016 at 9:24 AM Cezar Neaga notifications@github.com
wrote:

[2016-08-16 13:52] AIM-Media-Indiana commented on #91
I get an error message when running it by hand.  Here's the command and error:

[code]

That seems odd because in the log file for the script it does seem to be doing OK at downloading and installing.  Here's that part of the log:

[code]

[2016-08-16 14:01] carlalexander opened #92 "Test compatibility with AWS"
AWS is a popular hosting option and it doesn't seem like the project is working well on it. We need to test compatibility with AWS and document how to setup a server on the platform.

[2016-08-16 14:03] carlalexander commented on #91
Right, it does seem weird. I created an [issue](https://github.com/carlalexander/debops-wordpress/issues/92) for AWS compatibility. I have just not tried it at all and I'm not sure if @drybjed tried DebOps with it either.

[2016-08-16 14:05] carlalexander commented on #90
I created an [issue](https://github.com/carlalexander/debops-wordpress/issues/92) for AWS. I'll try to get to it this weekend. There seems to be [issues](https://github.com/carlalexander/debops-wordpress/issues/91) with AWS from what I can see.

[2016-08-16 14:12] cezarneaga commented on #90
just to give more context, i followed this process after creating an instance:

[code]

this allows you to run stuff just as on DO with root instead of ubuntu.

i wanted to do a wiki on it if it would have worked :)

cezar

[2016-08-16 16:19] cezarneaga commented on #90
Hi there,

just tried it with DO, and i get this error now:

[code]

did you get this one before?
i did put this setting in: `wordpress_ssl: True`

Cezar

[2016-08-16 16:21] drybjed commented on #90
The most important bit is missing. What role, which task?
16 sie 2016 18:19 "Cezar Neaga" notifications@github.com napisał(a):

[2016-08-16 16:23] cezarneaga commented on #90
not sure i understand but it happened in:
TASK [hhvm : Get upstream APT GPG key]
i added the `wordpress_ssl: True` setting in: host_vars/[domain]/vars.yml

[2016-08-16 16:24] drybjed commented on #90
Great, now we know where to look :)
16 sie 2016 18:23 "Cezar Neaga" notifications@github.com napisał(a):

[2016-08-16 16:27] cezarneaga commented on #90
:) love how you and @carlalexander put the time in this project.
i hope you know its appreciated.

thanks
C
PS: if you need any support let me know

[2016-08-16 16:35] drybjed commented on #90
@cezarneaga Come over to `#debops` on FreeNode if you're interested, there's more to it than just WordPress, you know. :-) Check out https://debops.org/status.html

[2016-08-16 16:37] carlalexander commented on #90
Did you select 14.04 with DO? They default to 16.04.1 now. If you're on 14.04, I'll have to run some tests and see. Sorry, that's the best I can do right now 😞

[2016-08-16 16:38] cezarneaga commented on #90
its 14.04 yes

[2016-08-16 16:43] cezarneaga commented on #90
i ran `debops wordpress -u root` and this time completed without error.

[2016-08-16 16:47] carlalexander commented on #90
Ah yes, you need to do that with Trusty. The new commands are for Xenial.
Sorry again, it's confusing because I don't have version specific docs.
On Tue, Aug 16, 2016 at 12:43 PM Cezar Neaga notifications@github.com
wrote:

[2016-08-17 16:02] cezarneaga opened #93 "tag v0.2.0 installs multisite by default"
Hi Carl,

i ran the installation twice now (fresh installs for different domains) using the tag v0.2.0 and it installed a multisite each time. i deleted the wp-config multisite stuff and imported the already existing database of the single site which solved the problem.

the only thing that doesnt work is that the media library doesnt show old media. i think perhaps it's due to blogs uploads urls

[2016-08-17 16:23] carlalexander commented on #93
Yeah, I slipped a bug right before the tag. You can fix it by applying the fix in this [commit](https://github.com/carlalexander/debops-wordpress/commit/c925db560ea5d2d65a5723e3db226d6d18ffa3a6). Sorry 😞

[2016-08-17 16:29] cezarneaga commented on #93
No problems :)
re-running `debops wordpress -u root` would fix the media library issue or should i reinstall everything from scratch?

[2016-08-17 16:44] carlalexander commented on #93
I think that you'll have to reinstall from scratch.

[2016-08-17 19:16] cezarneaga commented on #93
doing it now. will consider it closed but maybe add a tag v0.2.1 :)

[2016-08-17 19:16] #93 closed

[2016-08-17 21:21] cezarneaga opened #94 "Media library bug"
so i ran a perfect installation.

it works very well but if i import the older website (db and files) the media library gets replaced with the default pngs. files work if i follow the url. permissions are fine, owner and group fine.

![media library](https://cloud.githubusercontent.com/assets/645227/17753679/2c0eba42-64d1-11e6-895f-7098bdb21945.png)

anyone has experience importing files after set

[2016-08-17 21:29] carlalexander commented on #94
Everything is owned `www-data`? You have to change the permissions if I recall correctly because they'll be under the user that uploaded the files.

[2016-08-17 21:30] cezarneaga commented on #94
i forgot to say that it works well with new uploads. they show up fine. they are `www-data:www-data`

[2016-08-17 21:31] carlalexander commented on #94
New uploads should have the proper file permissions, but not files you upload via FTP for examples

[2016-08-17 21:34] cezarneaga commented on #94
i ran `chown -R www-data:www-data wp-content` after uploading them.

[2016-08-17 21:38] carlalexander commented on #94
What happens if you try to edit an image?

[2016-08-17 21:45] cezarneaga commented on #94
![media library edit](https://cloud.githubusercontent.com/assets/645227/17754418/b2f8eca0-64d4-11e6-9efa-2636c5ce0f7d.png)

[2016-08-17 21:53] cezarneaga commented on #94
the edit more details that takes you to `.../wp-admin/post.php?post=1004&action=edit` shows the image but the image url is broken: `https://newviennacongress.eu/wp-content/uploads//VVO-Versicherungsverband-Oesterreich.jpg`
![edit media advanced](https://cloud.githubusercontent.com/assets/645227/17754644/d055bb2e-64d5-11e6-9718-254e54491210.png)

[2016-08-17 21:58] carlalexander commented on #94
The year/date is missing from the URL. Was that the case on the old site?

[2016-08-17 22:01] cezarneaga commented on #94
no. had them there before. the database has year/month/
it's somehow a setting in wp?

[2016-08-17 22:27] cezarneaga commented on #94
solved it. its my bad. db import was the cause.

[2016-08-17 22:27] #94 closed

[2016-08-21 14:44] carlalexander commented on #89
I migrated my site to a Xenial server yesterday. Everything works fine! The performance improvements from HTTP/2 are impressive.

I couldn't run a migration because I was moving from a RapidSSL certificate to Let's Encrypt. This isn't an easy migration to do so I decided to build a server from scratch instead. I fixed a few issues, but everything worked well. I'll probably tag a version soon.

[2016-08-21 14:53] tobeycodes commented on #89
I will try it on a few of my sites this week

[2016-08-21 21:23] cezarneaga commented on #89
sound very exciting @carlalexander!
did you run the new build from current master? i see the last commits were on it.
eager to give it a try.

[2016-08-21 22:05] carlalexander commented on #89
I ran it off master @cezarneaga

[2016-08-22 00:00] carlalexander commented on #92
Did some testing on AWS today. I haven't been able to get past the step to create MariaDB databases. I'm using the `0.2.0` tag with some fixes since Xenial isn't on AWS yet.

There was an issue connecting to the database via SSH since AWS requires a certificate file to connect. You could solve this by forcing the local connection with `mariadb__delegate_to: '127.0.0.1'`. This worked fine.

The new

[2016-08-24 07:44] #90 closed

[2016-08-24 07:49] cezarneaga commented on #92
you could try this before: https://github.com/carlalexander/debops-wordpress/issues/90#issuecomment-240114080

then you can use root

[2016-08-24 09:01] cezarneaga commented on #89
did you get into this error by any chance? on running debops?

[code]

saw a previous discussion relating i think to this. restarted apparmor but still getting the same.
Cheers,
C
PS: this is on digital ocean, 16.04

[2016-08-25 00:30] carlalexander commented on #89
I haven't seen this issue before @cezarneaga. Does it happen every time?

[2016-08-25 06:56] cezarneaga commented on #89
yes. tried it several times. the only variable that changed is that i am now running mac os sierra.

[2016-08-25 10:06] carlalexander commented on #89
Let me give it a try today and see
On Thu, Aug 25, 2016 at 2:56 AM Cezar Neaga notifications@github.com
wrote:

[2016-08-25 12:15] carlalexander commented on #89
I can confirm I have the issue now with the same code I used this weekend. The only thing that might have changed is `debops-update`. I'm not sure if I ran it before I used it last weekend. Have you seen this issue with `debops.ntp` @drybjed?

[2016-08-25 12:19] carlalexander commented on #89
Nevermind, I found the issue. `ntp_timezone` changed to `ntp__timezone`.

[2016-08-25 12:28] drybjed commented on #89
@carlalexander On Ubuntu hosts, [systemd-timesyncd is used by default now](https://github.com/debops/ansible-ntp/commit/be053282e890538c2f23c14b5e05e60e6c0d9831) if you haven't noticed.

[2016-08-25 12:37] carlalexander commented on #89
Yeah, but the issue was that I hadn't updated DebOps recently enough. You renamed the variable so it broke that task lol. If anything, that might be a bug because that means that the default value for `ntp__timezone` doesn't work with `timedatectl`.

I pushed a commit with the change @cezarneaga. Worked fine just now.

[2016-08-25 13:20] cezarneaga commented on #89
@carlalexander Indeed, it passed second command: `debops`.
on last one i got:

[code]

running it again just to see if persists.

C

[2016-08-25 13:27] cezarneaga commented on #89
second time it went through! :) but no wp. just default nginx welcome page

[2016-08-25 13:57] drybjed commented on #89
@cezarneaga Second time it passed because the handler that restarts `fail2ban` wasn't activated. Can you check in the logs what the error might be?

[2016-08-25 14:11] cezarneaga commented on #89
@drybjed can you point me to the right destination? do you mean server side or local? i am on mac os.

[2016-08-25 14:15] cezarneaga commented on #89
do you mean on server /var/log/fail2ban.log ?

[2016-08-25 14:18] cezarneaga commented on #89
[code]

[2016-08-25 14:53] drybjed commented on #89
@cezarneaga Hmm, not sure what might cause these errors, although I don't use `fail2ban` that often. What happens if you try to restart the `fail2ban` service?

[2016-08-25 15:01] cezarneaga commented on #89
[code]

[2016-08-25 20:18] cezarneaga commented on #89
:) its always different! :)

reset the machine, started from scratch. now new error:

[code]

[2016-08-25 20:29] cezarneaga commented on #89
and most of the time a second run solves it. ran debops wordpress a second time. all is good and you were right. the speed is bonkers. 💯

[2016-08-25 20:33] drybjed commented on #89
@cezarneaga I would gues that the above error happened, because DebOps installs `apticron` among other things. By a random chance, an APT update script was started from `cron` at this point in the playbook, and Ansible couldn't use the APT to install packages at the same time.

[2016-08-25 20:34] blindpet commented on #89
For future reference you get debug info from fail2ban like this

`sudo fail2ban-client -d`

[2016-08-29 02:49] matthew6688 opened #95 "Very fast server set up!"
Tried it on Digital Ocean 14.04, Works out of box, Thank you.

[2016-08-29 04:39] carlalexander commented on #95
Thanks!

[2016-08-29 04:39] #95 closed

[2016-08-29 09:57] matthew6688 opened #96 "Issue can't connect to host via ssh"
The error message:

ASK [setup] *******************************************************************
fatal: [balaxidata.com]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh.", "unreachable": true}
	to retry, use: --limit @/root/debops-wordpress/playbooks/wordpress.retry

PLAY RECAP *********************************************************************
balaxidata.com

[2016-08-29 13:09] carlalexander commented on #96
I need a more detailed log than this. Can you show me the output with `-vvvv`?

[2016-08-30 00:43] matthew6688 opened #97 "Run into issues (Digital Ocean Ubuntu 14.04 fresh set up)"
Run into the problems in the last wordpress install

TASK [debops.mariadb : Create databases] ***************************************
task path: /Users/ringse/Library/Application Support/debops/debops-playbooks/roles/debops.mariadb/tasks/manage_contents.yml:12
<ubuntu-512mb-sgp1-01> ESTABLISH SSH CONNECTION FOR USER: root
<ubuntu-512mb-sgp1-01> SSH: EXEC ssh -C -q -o ControlMaster=auto -o ControlP

[2016-08-30 01:19] matthew6688 commented on #97
Also i am running into issue below, when i execute the command: **sudo pip install ansible debops passlib pycrypto**

Cleaning up...
Command /usr/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip_build_root/cryptography/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-sNjj8b-record/install-recor

[2016-08-30 01:31] matthew6688 commented on #97
When i run debops -u root command, the error message below:

root@ubuntu-512mb-sgp1-01:~/debops-wordpress# debops -u root
Running Ansible playbook from:
/root/.local/share/debops/debops-playbooks/playbooks/site.yml ...
ERROR! Unexpected Exception: No module named markupsafe
the full traceback was:

Traceback (most recent call last):
  File "/usr/local/bin/ansible-playbook", line 79, in <module>

[2016-08-30 05:22] matthew6688 opened #98 "[WARNING]: Optional dependency 'cryptography' raised an exception, falling back to 'Crypto'"
Enviroment:  Mac OX 10.10.5
Server: Digital Ocean 14.4.5  x64

When i proceed to debops -u root

I show me:

`Running Ansible playbook from:
/Users/ringse/Library/Application Support/debops/debops-playbooks/playbooks/site.yml ...
 [WARNING]: Optional dependency 'cryptography' raised an exception, falling back
to 'Crypto'`

[2016-08-30 07:46] matthew6688 commented on #96
TASK [debops.mariadb : Create databases] ***************************************
task path: /Users/ringse/Library/Application Support/debops/debops-playbooks/roles/debops.mariadb/tasks/manage_contents.yml:12
<ubuntu-512mb-sgp1-01> ESTABLISH SSH CONNECTION FOR USER: root
<ubuntu-512mb-sgp1-01> SSH: EXEC ssh -C -q -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o Pref

[2016-08-30 08:00] carlalexander commented on #96
You can't use the default droplet name like `ubuntu-512mb-sgp1-01`. You need a full domain name as per the [wiki article](https://github.com/carlalexander/debops-wordpress/wiki/Create-a-Digital-Ocean-droplet).

[2016-08-30 08:02] carlalexander commented on #96
This is the same error as #97. Can you please close this issue or the other one. Thanks! 😄

[2016-08-30 08:25] matthew6688 commented on #97
Thank you. I really didn't notice the droplet need to be the same with domain name, I will correct the name and retry now. Thank you. @carlalexander